






// @media screen and (orientation: landscape) {
//   /* layout except color */
  @media screen and (min-width: 481px) {
    #footer_wrap {
      >.footer_box {
        margin: 0 auto;
        display: -moz-grid;
        display: grid;
        > h1.logo {
          width: 100%; 
          height: 3.5rem;
          > a {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center; 
            > img {
              display: flex;
              width: 100%;
              height: 100%;
            }
          }
        }
        >.copyright {
          grid-row: 2;
          grid-column: 1;
          display: flex;
          flex-flow: column wrap;
          justify-content: flex-end;
          align-items: flex-start;
          width: -moz-max-content;
          width: max-content;
          height: auto;
          padding: 0;
        }
        div {
          &.end_wrap {
            width: 100%;
            height: 3rem;
            >.gnb {
              width: 100%;
              height: 100%;
              display: -moz-grid;
                display: grid;
                grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 100%;
                list-style: none;
                > a {
                  display: flex;
                  background-color: transparent;
                  width: 100%;
                  height: 100%;
                  justify-content: center;
                  align-items: center;
                  -moz-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                  -webkit-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                  -o-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                  &.bold,
                  &:hover {
                    font-weight: bold;
                    transform-origin: center;
                }
              }
            }
          }
        }  
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    @media screen and (min-width: 1025px) {
      #footer_wrap {
        >.footer_box {
          grid-template-columns: 10% 50%;
          justify-content: space-between;
          >h1.logo{
            width: 130.5px;
          }
          .copyright {
            left: 0;
            font-size: 1.2rem;
          }
          a {
            font-size: 1.6rem;
            &.bold,
            &:hover {
              font-weight: bold;
              transform-origin: center;
            }
          }
        }
      }
    }
  
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      #footer_wrap {
        >.footer_box {
          grid-template-columns: 20% 80%;
          >h1.logo{
            width: 130.5px;
          }
          .copyright {
            left: 0;
            font-size: 1.2rem;
          }
          a {
            font-size: 1.6rem;
            &.bold,
            &:hover {
              font-weight: bold;
              transform-origin: center;
            }
          }
        }
      }
    }
  
    @media screen and (min-width: 481px) and (max-width: 768px) {
      #footer_wrap {
        >.footer_box {
          grid-template-columns: 30% 70%;
          .copyright {
            font-size: 1.2rem;
          }
          a {
            font-size: 1.5rem;
            &.bold,
            &:hover {
              font-weight: bold;
              transform-origin: center;
            }
          }
        }
      }
    }    
  }


  @media (hover: none) and (pointer: coarse) {
    @media screen and (min-width: 1025px) {
      #footer_wrap {
        >.footer_box {
          grid-template-columns: 10% 50%;
          justify-content: space-between;
          >h1.logo{
            width: 130.5px;
          }
          .copyright {
            left: 0;
            font-size: 1.2rem;
          }
          a {
            font-size: 1.6rem;
            &.bold,
            &:hover {
              font-weight: bold;
              transform-origin: center;
            }
          }
        }
      }
    }
  
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      #footer_wrap {
        >.footer_box {
          grid-template-columns: 20% 80%;
          >h1.logo{
            width: 130.5px;
          }
          .copyright {
            left: 0;
            font-size: 1.2rem;
          }
          a {
            font-size: 1.6rem;
            &.bold,
            &:hover {
              font-weight: bold;
              transform-origin: center;
            }
          }
        }
      }
    }
  
    @media screen and (min-width: 481px) and (max-width: 768px) {
      #footer_wrap {
        >.footer_box {
          grid-template-columns: 30% 70%;
          .copyright {
            font-size: 1.2rem;
          }
          a {
            font-size: 1.5rem;
            &.bold,
            &:hover {
              font-weight: bold;
              transform-origin: center;
            }
          }
        }
      }
    }

    @media screen and (min-width: 321px) and (max-width: 480px) {
      #footer_wrap {
        >.footer_box {
          margin: 0 auto;
          display: -moz-grid;
          display: grid;
          grid-template-rows: repeat(3, 1fr);
          row-gap: 1rem;
          > h1.logo {
            width: 100%; 
            height: auto;
            > a {
              display: flex;
              width: -moz-fit-content;
              width: fit-content;
              height: 100%;
              justify-content: flex-start;
              align-items: center; 
              > img {
                display: flex;
                width: auto;
                height: 3rem;
              }
            }
          }
          >.copyright {
            grid-row: 3;
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-end;
            align-items: flex-start;
            width: 100%;
            font-size: 1.2rem;
            height: auto;
            padding: 0;
          }
          div {
            &.end_wrap {
              width: 100%;
              height: auto;
              >.gnb {
                  width: 100%;
                  height: 100%;
                  display: -moz-grid;
                  display: grid;
                  grid-template-columns: repeat(3, calc(100% / 3));
                  grid-template-rows: repeat(2, 50%);
                  justify-content: space-evenly;
                  align-items: center;
                  list-style: none;
                  > a {
                    display: flex;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    font-size: 1.6rem;
                    justify-content: center;
                    align-items: center;
                    padding: .4rem; 
                    -moz-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                    -webkit-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                    -o-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                    &.bold,
                    &:hover {
                      font-weight: bold;
                      transform-origin: center;
                  }
                }
              }
            }
          } 
        }
      }
    }
  
    @media screen and (max-width: 320px) {
      #footer_wrap {
        >.footer_box {
          margin: 0 auto;
          display: -moz-grid;
          display: grid;
          grid-template-rows: 20% 50% 30%;
          row-gap: 1rem;
          > h1.logo {
            width: 100%; 
            height: auto;
            > a {
              display: flex;
              width: -moz-fit-content;
              width: fit-content;
              height: 100%;
              justify-content: flex-start;
              align-items: center; 
              > img {
                display: flex;
                width: auto;
                height: 3rem;
              }
            }
          }
          >.copyright {
            grid-row: 3;
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-end;
            align-items: flex-start;
            width: 100%;
            font-size: 1.2rem;
            height: auto;
            padding: 0;
          }
          div {
            &.end_wrap {
              width: 100%;
              height: auto;
              >.gnb {
                  width: 100%;
                  height: 100%;
                  display: -moz-grid;
                  display: grid;
                  grid-template-columns: repeat(3, calc(100% / 3));
                  grid-template-rows: repeat(2, 50%);
                  justify-content: space-evenly;
                  align-items: center;
                  list-style: none;
                  > a {
                    display: flex;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    font-size: 1.6rem;
                    justify-content: center;
                    align-items: center;
                    padding: .4rem; 
                    -moz-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                    -webkit-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                    -o-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
                    &.bold,
                    &:hover {
                      font-weight: bold;
                      transform-origin: center;
                  }
                }
              }
            }
          } 
        }
      }
    }
  }