/* header */
/* #head_wrap in layout.css */
/* color set >> light_mode.css / dark_mode.css */

/* header */

.head_inner {
  position: absolute;
  top: 0;
  width: 94vw;
  right: 3vw;
  border-radius: 30px;
  display: flex;
  height: 100%;
  overflow: hidden;
  span {
    &.symbol {
      display: flex;
      overflow-x: hidden;
      text-indent: -9999px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 50%;
    }
    &.link_title {
      display: flex;
      overflow: hidden;
      text-indent: .5rem;
    }
  }
  > button[type="button"].menu{
    >span.symbol {
      display: none;
    }
  }
}
div.translate{
  button[type="button"] {
    display: flex;
    justify-self: center;
    justify-content: center;
    line-height: 1;
    padding: 0;
    &.option-btn {
      align-self: center;
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
      text-indent: -9999px;
      &.ko {
        background-image: url("../../assets/images/korean.svg");
      }
      &.en {
        background-image: url("../../assets/images/usa.svg");
      }
      &.ja {
        background-image: url("../../assets/images/japan.svg");
      }
    }
  }
}

.small {
  width: 35vw;
  border-radius: 30px;
}


// resize 650px >> title text >> icon change
/* ///////////////////////////////////////////////////////////////////// */


@media screen and (min-width: 481px) {
  .head_inner {
    justify-content: space-between;
    transition: width 0.3s;
    > .gnb {
      display: -moz-grid;
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
      justify-content: space-evenly;
      align-items: center;
      > a {
        display: inline-flex;
        width: 100%;
        height: 100%;
        text-indent: 5px;
        justify-content: center;
        align-items: center;
        background-color: none;
        -moz-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        -webkit-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        -o-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        > span.symbol {
          border-radius: 50%;
          margin-right: .5rem;
        }
        &.bold,
        &:hover {
          font-weight: bold;
          transform-origin: center;
        }
      }
    }
  }

  div.translate {
    display: flex;
    position: fixed;
    right: 2.5vw;
    border-radius: 30px;
    justify-content: space-between;
    overflow: hidden;
    transition: height 0.3s;
    > ul.lang{
      display: none;
    }
    > button[type="button"] {
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      display: flex;
      border-radius: 50%;
      background-image: url('/assets/images/a5705a70-f0c6-4a77-b9c4-d9f66892ac52.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.active {
      transition: height 0.3s;
      > ul.lang {
        display:-moz-grid;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 33% 33% 33%;
        overflow: hidden;
        > li {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          > button[type="button"] {
            &.option-btn {
              display: flex;
              justify-self: center;
              background-color: transparent;
              background-size: contain;
              background-position: center;
            }
            &.active,
            &:hover {
              transform-origin: center;
            }
          }
        }
      }
    }
  }

  .small {
    border-radius: 30px;
    margin-top: 5px;
    > .gnb {
      display: flex;
      width: 100%;
      overflow: hidden;
      > a {
        background-color: transparent;
        width: 100%;
        height: 100%;
        align-items: center;
        -moz-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        -webkit-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        -o-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        > span.symbol {
          width: 2.5rem;
          height: 2.5rem;
        }
        > span.link_title {
          text-indent: -9999px;
          overflow: hidden;
        }
        &.bold,
        &:hover {
          font-weight: bold;
          transform-origin: center;
        }
      }
    }
  }

  @media screen and (min-width: 951px) {
    .head_inner {
      width: 96vw;
      height: 4rem;
      grid-template-columns: 100%;
      > .gnb {
        height: 4rem;
        > a {
          display: inline-flex;
          width: 100%;
          height: 100%;
          font-size: 1.6rem;
          text-indent: 5px;
          justify-content: center;
          align-items: center;
          background-color: none;
          -moz-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
          -webkit-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
          -o-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
          transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
          > span.symbol {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            margin-right: .5rem;
          }
          &.bold,
          &:hover {
            font-weight: bold;
            transform-origin: center;
          }
        }
      }
    }
    div.translate {
      top: 5rem;
      width: 4rem; 
      height: 4rem;
      > button[type="button"] {
        top: 5px;
        left: 5px;
        right: 5px;
        width: 3rem;
        height: 3rem;
      }
      &.active {
        height: 16rem;
        > ul.lang {
          padding-top: 4rem;
          > li {
            > button[type="button"] {
              &.option-btn {
                width: 3rem;
                height: 3rem;
              }
              &.active,
              &:hover {
                  transform-origin: center;
              }
            }
          }
        }
      }
    }
    .small {
      width: 50vw;
      height: 4rem;
      right: 3vw;
      > .gnb {
        display: flex;
        width: 100%;
        height: 4rem;
        overflow: hidden;
        > a {
          font-size: 1.6rem;
          > span.symbol {
            width: 2rem;
            height: 2rem;
          }
          > span {
            &.link_title {
              display: none;
              text-indent: -9999px;
              overflow: hidden;
            }
          }
          &.bold,
          &:hover {
            font-weight: bold;
            transform-origin: center;
          }
        }
      }
    }

    @media screen and (min-height: 1000px) {
      .head_inner {
      width: 96vw;
      height: 6rem;
      grid-template-columns: 100%;
      > .gnb {
        height: 6rem;
        > a {
          display: inline-flex;
          width: 100%;
          height: 100%;
          font-size: 1.8rem;
          text-indent: 5px;
          justify-content: center;
          align-items: center;
          background-color: none;
          -moz-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
          -webkit-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
          -o-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
          transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
          > span.symbol {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            margin-right: .5rem;
          }
          &.bold,
          &:hover {
            font-weight: bold;
            transform-origin: center;
          }
        }
      }
      }
      div.translate {
        top: 8rem;
        width: 6rem; 
        height: 6rem;
        > button[type="button"] {
          top: 5px;
          left: 5px;
          right: 5px;
          width: 5rem;
          height: 5rem;
        }
        &.active {
          height: 25rem;
          > ul.lang {
            padding-top: 6rem;
            > li {
              > button[type="button"] {
                &.option-btn {
                  width: 5rem;
                  height: 5rem;
                }
                &.active,
                &:hover {
                    transform-origin: center;
                }
              }
            }
          }
        }
      }
      .small {
        width: 50vw;
        height: 6rem;
        right: 3vw;
        > .gnb {
          display: flex;
          width: 100%;
          height: 6rem;
          overflow: hidden;
          > a {
            font-size: 1.8rem;
            > span.symbol {
              width: 2.5rem;
              height: 2.5rem;
            }
            > span {
              &.link_title {
                display: none;
                text-indent: -9999px;
                overflow: hidden;
              }
            }
            &.bold,
            &:hover {
              font-weight: bold;
              transform-origin: center;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 950px) {
    .head_inner {
      height: 4rem;
      justify-content: space-between;
      grid-template-columns: 100%;
      > .gnb {
        width: 100%;
        height: 4rem;
        > a {
          display: inline-flex;
          width: 100%;
          height: 100%;
          font-size: 1.6rem;
          text-indent: 5px;
          > span.symbol {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            margin-right: .5rem;
          }
          
          &.bold,
          &:hover {
            font-weight: bold;
            transform-origin: center;
          }
        }
      }
    }

    div.translate {
      top: 5rem;
      right: 2.5vw;
      width: 4rem; 
      height: 4rem;
      > button[type="button"] {
        top: 5px;
        left: 5px;
        right: 5px;
        width: 3rem;
        height: 3rem;
      }
      &.active {
        height: 16rem;
        > ul.lang {
          padding-top: 4rem;
          > li {
            > button[type="button"] {
              &.option-btn {
                width: 3rem;
                height: 3rem;
              }
              &.active,
              &:hover {
                transform-origin: center;
              }
            }
          }
        }
      }
    }

    .small {
      width: 50vw;
      height: 4rem;
      border-radius: 30px;
      right: 3vw;
      > .gnb {
        display: flex;
        width: 100%;
        height: 4rem;
        overflow: hidden;
        > a {
          background-color: transparent;
          width: 100%;
          height: 100%;
          font-size: 1.6rem;
          > span.symbol {
            width: 2.5rem;
            height: 2.5rem;
          }
          > span.link_title {
            text-indent: -9999px;
            overflow: hidden;
          }
          &.bold,
          &:hover {
            font-weight: bold;
            transform-origin: center;
          }
        }
      }
    }

    @media screen and (orientation: portrait) and (min-height: 1000px) {

      @media screen and (min-width: 769px) {
        .head_inner {  
          width: 96vw;
          height: 6rem;
          right: 2vw;
          grid-template-columns: 100%;
          > .gnb {
            height: 6rem;
            > a {
              font-size: 1.8rem;
              text-indent: 5px;
              > span.symbol {
                width: 25px;
                height: 25px;
              }
            }
          }
          > button[type="button"].menu {
            display: none;
          }
        }
        div.translate {
          top: 8rem;
          right: 2vw;
          width: 6rem; 
          height: 6rem;
          > button[type="button"] {
            top: 5px;
            left: 5px;
            right: 5px;
            width: 5rem;
            height: 5rem;
          }
          &.active {
            height: 25rem;
            > ul.lang {
              padding-top: 6rem;
              > li {
                > button[type="button"] {
                  &.option-btn {
                    width: 5rem;
                    height: 5rem;
                  }
                }
              }
            }
          }
        }
        .small {
          width: 30vw;
          height: 6rem;
          border-radius: 30px;
          right: 2vw;
          transition: width 0.3s;
          > .gnb {
            display: flex;
            width: 100%;
            height: 6rem;
            overflow: hidden;
            > a {
              font-size: 1.8rem;
              > span.symbol {
                width: 25px;
                height: 25px;
                margin: 0 auto;
              }
              > span.link_title {
                display: none;
              }
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        .head_inner {  
          width: 96vw;
          height: 6rem;
          right: 2vw;
          grid-template-columns: 100%;
          > .gnb {
            height: 6rem;
            > a {
              font-size: 1.8rem;
              text-indent: 5px;
              > span.symbol {
                width: 25px;
                height: 25px;
              }
            }
          }
          > button[type="button"].menu {
            display: none;
          }
        }
        div.translate {
          top: 8rem;
          right: 2vw;
          width: 5rem; 
          height: 5rem;
          > button[type="button"] {
            top: 5px;
            left: 5px;
            right: 5px;
            width: 4rem;
            height: 4rem;
          }
          &.active {
            height: 20rem;
            > ul.lang {
              padding-top: 5rem;
              > li {
                > button[type="button"] {
                  &.option-btn {
                    width: 4rem;
                    height: 4rem;
                  }
                }
              }
            }
          }
        }
        .small {
          width: 30vw;
          height: 6rem;
          border-radius: 30px;
          right: 2vw;
          transition: width 0.3s;
          > .gnb {
            display: flex;
            width: 100%;
            height: 6rem;
            overflow: hidden;
            > a {
              font-size: 1.8rem;
              > span.symbol {
                width: 25px;
                height: 25px;
                margin: 0 auto;
              }
              > span.link_title {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .head_inner {
    width: 92vw;
    right: 4vw;
    height: 4rem;
    justify-content: space-between;
    transition: all 0.3s;
    > .gnb {
      display: -moz-grid;
      display: grid;
      width: 100%;
      height: 100%;
      overflow: hidden;
      grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
      justify-content: space-evenly;
      align-items: center;
      > a {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 4rem;
        > span.symbol {
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 50%;
          margin-right: 0;
        }
        > span.link_title {
          text-indent: 0;
        }
        &.bold,
        &:hover {
          font-weight: bold;
          transform-origin: center;
        }
      }
    }
    > button[type="button"].menu {
      position: absolute;
      display: inline-flex;
      align-items: center;
      justify-content: space-evenly;
      top: 5px;
      right: 5px;
      bottom: 5px;
      background-repeat: no-repeat;
      background-position: center;
      width: 3rem; 
      height: 3rem;
      border-radius: 50%;
      >span.dot {
        width: 7px;
        height: 7px;
        border-radius: 2px;
      }
    }
  }

  div.translate {
    display: flex;
    position: fixed;
    top: 5rem;
    right: 4vw;
    border-radius: 30px;
    width: 4rem; 
    height: 4rem;
    justify-content: space-between;
    overflow: hidden;
    transition: width 0.3s;
    > ul.lang{
      display: none;
    }
    > button[type="button"] {
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-image: url('/assets/images/a5705a70-f0c6-4a77-b9c4-d9f66892ac52.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.active {
      width: 16rem;
      transition: width 0.3s;
      > ul.lang {
        display:-moz-grid;
        display: grid;
        width: 100%;
        height: 100%;
        padding-right: 4rem;
        grid-template-columns: 33% 33% 33%;
        overflow: hidden;
        > li {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          > button[type="button"] {
            &.option-btn {
              display: flex;
              justify-self: center;
              background-color: transparent;
              background-size: contain;
              background-position: center;
              width: 3rem;
              height: 3rem;
            }
            &.active,
            &:hover {
              transform-origin: center;
            }
          }
        }
      }
    }
  }

  .small {
    right: 4vw;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    justify-content: space-between;
    grid-template-columns: calc(100% - 4rem) 4rem;
    transition: all 0.3s;
    > .gnb {
      display: -moz-grid;
      display: grid;
      width: 100%;
      height: 100%;
      overflow: hidden;
      grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
      justify-content: space-evenly;
      align-items: center;
      > a {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 4rem;
        > span.symbol {
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 50%;
          margin-right: 0;
        }
        > span.link_title {
          text-indent: 0;
        }
        &.bold,
        &:hover {
          font-weight: bold;
          transform-origin: center;
        }
      }
    }
    > button[type="button"].menu {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      background-repeat: no-repeat;
      background-position: center;
      width: 3rem; 
      height: 3rem;
      border-radius: 50%;
    }
  }

  @media screen and (min-width: 321px) {
    .head_inner {
      width: 92vw;
      right: 4vw;
      height: 4rem;
      justify-content: space-between;
      grid-template-columns: calc(100% - 4rem) 4rem;
      transition: all 0.3s;
      > .gnb {
        display: -moz-grid;
        display: grid;
        width: 100%;
        height: 100%;
        overflow: hidden;
        grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
        justify-content: space-evenly;
        align-items: center;
        > a {
          height: 4rem;
          > span.link_title {
            font-size: 1.6rem;
            text-indent: 0;
          }
        }
      }
    }
  }


  @media screen and (max-width: 320px) {
    .head_inner {
      > .gnb {
        overflow: hidden;
        > a {
          height: 100%;
          > span.symbol {
            width: 1.5rem;
            height: 1.5rem;
          }
          > span.link_title {
            font-size: 1.4rem;
            height: 1.5rem;
            line-height: 1;
          }
        }
      }
    }
  
    div.translate {
      display: flex;
      position: fixed;
      top: 5rem;
      right: 4vw;
      border-radius: 30px;
      width: 4rem; 
      height: 4rem;
      justify-content: space-between;
      overflow: hidden;
      transition: width 0.3s;
      > ul.lang{
        display: none;
      }
      > button[type="button"] {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-image: url('/assets/images/a5705a70-f0c6-4a77-b9c4-d9f66892ac52.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.active {
        width: 16rem;
        transition: width 0.3s;
        > ul.lang {
          display:-moz-grid;
          display: grid;
          width: 100%;
          height: 100%;
          padding-right: 4rem;
          grid-template-columns: 33% 33% 33%;
          overflow: hidden;
          > li {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            > button[type="button"] {
              &.option-btn {
                display: flex;
                justify-self: center;
                background-color: transparent;
                background-size: contain;
                background-position: center;
                width: 3rem;
                height: 3rem;
              }
              &.active,
              &:hover {
                transform-origin: center;
              }
            }
          }
        }
      }
    }
  
    .small {
      width: 4rem;
      height: 4rem;
      border-radius: 30px;
      right: 4vw;
      transition: width 0.3s;
      > a {
        > span.symbol {
          width: 1.5rem;
          height: 1.5rem;
        }
        > span.link_title {
          font-size: 1.4rem;
          height: auto;
          border: 1px solid red;
        }
      }
    }
  }
}

