/* sub1 */
/* color set >> light_mode.css // dark_mode.css */

/* landscape / portrait common setting */

// effect >> effect.scss


.prof_categorized {
  display: -moz-grid;
  display: grid;
  >.descript {
    display: -moz-grid;
    display: grid;
    text-indent: -9999px;
    >.back {
      background-repeat: no-repeat;
    }
    > .pic_frame {
      overflow: hidden;
      > img {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
    >.backdrop {
      background-repeat: no-repeat;
    }
  }
  >.introduce_container {
    display: -moz-grid;
    display: grid;
    justify-content: space-between;
    align-items: center;
    >.pic_container {
      display: -moz-grid;
      display: grid;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      > h3 {
        display: flex;
        justify-content: center;
        align-self: center;
      }
      > .data_box {
        width: 100%;
        height: 100%;
        > .data_list {
          display: flex;
          flex-flow: column wrap;
          width: 100%;
          height: 100%;
          list-style: none;
          > li,
          > span {
            width:-moz-fit-content;
            width: fit-content;
            height: min-content;
            border-radius: 5px;
            line-height: 1.5;
          }
        }
      }
    }
    >.info_box {
      display: -moz-grid;
      display: grid;
      border-radius: 15px;
      width: 100%;
      height: 100%;
      > h3 {
        display: flex;
        justify-content: center;
        align-self: center;
      }
      >.info_list {
        display: flex;
        > span {
          width:-moz-fit-content;
          width: fit-content;
          height: min-content;
          border-radius: 5px;
          line-height: 1;
        }
      }
      >.info2 {
        width: 100%;
        height: 100%;
        > ul {
          display: flex;
          list-style: none;
          width: 100%;
          height: 100%;
          > li {
            width:-moz-fit-content;
            width: fit-content;
            height: min-content;
            border-radius: 5px;
            line-height: 1.5;
          }
        }
      }
    }
    > .introduce_me_box {
      display: -moz-grid;
      display: grid;
      border-radius: 15px;
      width: 100%;
      height: 100%;
      > h3 {
        display: flex;
        justify-content: center;
        align-self: center;
      }
      > .introduce_me_list {
        display: -moz-grid;
        display: grid;
        justify-content: center;
        align-items: center;
        list-style-position: outside;
        width: auto;
        height: 100%;
        > li {
          padding-left: 1rem;
          line-height: 1.5;
        }
      }
    }
    > .key_word_box {
      display: -moz-grid;
      display: grid;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      > h3 {
        display: flex;
        justify-content: center;
        align-self: center;
      }
      >.key_word_list {
        display: inline-flex;
        flex-flow: row wrap;
        width: 100%;
        height: 100%;
        > span {
          border-radius: 5px;
          width:-moz-fit-content;
          width: fit-content;
          height: min-content;
          &.key_word {
            display: inline-flex;
            line-height: 1;
            &::before{
              content: "#";
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) {
  @media screen and (orientation: landscape) {
    .prof_categorized {
      grid-template-rows: 100%;
      >.descript {
        grid-template-columns: 100%;
        grid-template-rows: 5% repeat(3, 30%) 5%;
        align-items: center;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        align-content: space-between;
        >.back {
          grid-row: 2;
        }
        > .pic_frame {
          grid-row: 3;
        }
        >.backdrop {
          grid-row: 4;
        }
      }
      >.introduce_container {
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        >.pic_container {
          flex-flow: column wrap;
          justify-content: space-evenly;
          align-items: center;
          grid-template-columns: 100%;
          >.data_box {
            > .data_list {
              align-content: space-evenly;
            }
          }
        }
        >.info_box {
          grid-template-columns: 100%;
          grid-template-rows: 20% auto 20% 20%;
          > .info_list {
            justify-content: center;
            align-items: center;
          }
          >.info2 {
            > .info2_list {
              flex-flow: row wrap;
              justify-content: space-evenly;
            }
          }
        }
        > .key_word_box {
          grid-template-rows: 20% 80%;
          >.key_word_list {
            > span {
              &.key_word {
                &::before{
                  margin-right: .5rem;
                }
              }
            }
          }
        }
        > .introduce_me_box {
          grid-template-rows: 20% 80%;
        }
      }
    }
  }

  @media screen and (orientation: portrait) {
    .prof_categorized {
      overflow: hidden;
      grid-template-columns: 100%;
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      >.descript {
        width: 100%;
        grid-template-rows: 100%;
        grid-template-columns: 10% 30% 20% 30% 10%;
        justify-items: center;
        align-items: center;
        > .back {
          z-index: 2;
          grid-row: 1;
          grid-column: 2;
        }
        > .pic_frame {
          z-index: 1;
          grid-row: 1;
          grid-column: 3;
        }
        > .backdrop {
          z-index: 0;
          grid-row: 1;
          grid-column: 4;
        }
      }
      >.introduce_container {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        >.pic_container {
          grid-row: 1;
          grid-column: 1;
          width: 100%;
          height: 100%;
          flex-flow: column wrap;
          justify-content: space-evenly;
          align-items: center;
          grid-template-columns: 100%;
          column-gap: 0;
          >.data_box {
            width: 100%;
            height: 100%;
            > .data_list {
              width: 100%;
              align-content: space-evenly;
              margin: 0 auto;
            }
          }
        }
        > .info_box {
          align-content: space-evenly;
          grid-template-columns: 100%;
          > .info_list {
            justify-content: center;
            align-items: center;
          }
          .info2_list {
            justify-content: space-evenly;
            flex-flow: row wrap;
          }
        }
        > .key_word_box {
          grid-template-rows: 20% 70%;
          >.key_word_list {
            margin: 0 auto;
            display: inline-flex; 
            flex-wrap: wrap;
          }
        }
        > .introduce_me_box {
          grid-template-columns: 100%;
        }
      }
    }
  }
}


@media (hover: hover) and (pointer: fine) {
  @media screen and (min-width: 1281px) {
    .prof_categorized {
      grid-template-columns: 45% 55%;
      >.descript {
        >.back {
          border-radius: 20px;
          width: 18vh;
          height: 18vh;
        }
        > .pic_frame {
          border-radius: 20px;
          width: 23vh;
          height: 23vh;
        }
        >.backdrop {
          border-radius: 20px;
          width: 18vh;
          height: 18vh;
        }
      }
      >.introduce_container {
        font-size: 1.4rem;
        row-gap: 1rem;
        column-gap: 1rem;
        >.pic_container {
          padding: 2vh 1vw;
          > h3 {
            font-size: 2.4rem;
          }
          >.data_box {
            > ul {
              > li {
                padding: .2rem .4rem;
              }
            }
          }
        }
        >.info_box {
          padding: 2vh 1vw;
          > h3 {
            font-size: 2.4rem;
          }
          > .info_list {
            > span {
              padding: .3rem .5rem
            }
          }
          >.info2 {
            > ul {
              > li {
                padding: .2rem .4rem;
              }
            }
          }
        }
        > .key_word_box {
          padding: 2vh 1vw;
          > h3 {
            font-size: 2.4rem;
          }
          >.key_word_list {
            padding: 2vh 1vw 3vh;
            > span {
              &.key_word {
                margin: 1vh 1rem 1vh 0;
                padding: .4rem .8rem;
                &::before{
                  margin-right: .5rem;
                }
              }
            }
          }
        }
        > .introduce_me_box {
          grid-template-rows: 20% 80%;
          padding: 2vh 1vw;
          > h3 {
            font-size: 2.4rem;
          }
          > .introduce_me_list {
            margin-left: 1.5vw;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    @media screen and (orientation: landscape) {
      .prof_categorized {
        grid-template-columns: 40% 60%;
        >.descript {
          >.back {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
          > .pic_frame {
            border-radius: 20px;
            width: 23vh;
            height: 23vh;
          }
          >.backdrop {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
        }
        >.introduce_container {
          row-gap: 1rem;
          column-gap: 1rem;
          font-size: 1.4rem;
          >.pic_container {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            >.data_box {
              > ul {
                > li {
                  padding: .2rem .4rem;
                }
              }
            }
          }
          >.info_box {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            > .info_list {
              > span {
                padding: .4rem .8rem
              }
            }
            >.info2 {
              > ul {
                > li {
                  border-radius: 5px;
                }
              }
            }
          }
          > .key_word_box {
            grid-template-rows: 20% 80%;
            padding: 2vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            >.key_word_list {
              padding: 2vh 1vw 3vh;
              > span {
                &.key_word {
                  margin: 1vh 1rem 1vh 0;
                  padding: .4rem .8rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .introduce_me_list {
              margin-left: 1.5vw;
            }
          }
        }
      }
    }
    @media screen and (orientation: portrait) {
      .prof_categorized {
        grid-template-rows: 30% 70%;
        >.descript {
          >.back {
            width:14vh;
            height:14vh;
            border-radius: 15px;
          }
          > .pic_frame {
            width: 17vh;
            height: 17vh;
            border-radius: 15px;
          }
          >.backdrop {
            width:14vh;
            height:14vh;
            border-radius: 15px;
          }
        }
        >.introduce_container {
          font-size: 1.4rem;
          grid-template-rows: repeat(2, 1fr);
          column-gap: 1rem;
          row-gap: 1rem;
          >.pic_container {
            grid-template-rows: 15% fit-content 15% 15%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            >.data_box {
              > .data_list {
                > li,
                > span {
                  padding: .2rem .5rem; 
                }
              }
            }
          }
          >.info_box {
            grid-template-rows: 15% 15% 15% 30%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .info_list {
              > span {
                font-size: 1.4rem;
                padding: .2rem .5rem
              } 
            }
            .info2_list {
              > li {
                height: 100%;
                align-self: center;
                font-size: 1.4rem;
                padding: .3rem .5rem;
              }
            }
          }
          > .key_word_box {
            grid-template-rows: 20% 80%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            >.key_word_list {
              padding: 1vh 1vw;
              > span {
                &.key_word {
                  margin: 0 .5rem 1vh 0;
                  padding: .3rem .5rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            grid-template-rows: 20% 80%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .introduce_me_list {
              margin-left: 1.5vw;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {

    @media screen and (orientation: landscape) {
      .prof_categorized {
        grid-template-columns: 40% 60%;
        >.descript {
          >.back {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
          > .pic_frame {
            border-radius: 20px;
            width: 23vh;
            height: 23vh;
          }
          >.backdrop {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
        }
        >.introduce_container {
          font-size: 1.4rem;
          grid-template-columns: 49% 49%;
          grid-template-rows: 49% 49%;
          >.pic_container {
            padding: 2vh 1vw;
            grid-template-rows: 15% auto 15% 15%;
            > h3 {
              font-size: 2rem;
            }
            >.data_box {
              > ul {
                > li {
                  padding: .2rem .4rem;
                }
              }
            }
          }
          >.info_box {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .info_list {
              > span {
                padding: .4rem .8rem
              }
            }
          }
          > .key_word_box {
            grid-template-rows: 20% 80%;
            padding: 2vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            >.key_word_list {
              padding: 1vh 1vw;
              > span {
                &.key_word {
                  margin: 1vh 1rem 0 0;
                  padding: .4rem .8rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .introduce_me_list {
              margin-left: 1.5vw;
            }
          }
        }
      }
    }

    @media screen and (orientation: portrait) {
      .prof_categorized {
        grid-template-rows: 30% 70%;
        >.descript {
          >.back {
            width:14vh;
            height:14vh;
            border-radius: 15px;
          }
          > .pic_frame {
            width: 17vh;
            height: 17vh;
            border-radius: 15px;
          }
          >.backdrop {
            width:14vh;
            height:14vh;
            border-radius: 15px;
          }
        }
        >.introduce_container {
          font-size: 1.4rem;
          grid-template-rows: repeat(2, 1fr);
          column-gap: 1rem;
          row-gap: 1rem;
          >.pic_container {
            grid-template-rows: 15% fit-content 15% 15%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            >.data_box {
              > .data_list {
                > li,
                > span {
                  padding: .2rem .5rem; 
                }
              }
            }
          }
          >.info_box {
            grid-template-rows: 15% 15% 15% 30%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .info_list {
              > span {
                font-size: 1.4rem;
                padding: .2rem .5rem
              } 
            }
            .info2_list {
              > li {
                height: 100%;
                align-self: center;
                font-size: 1.4rem;
                padding: .3rem .5rem;
              }
            }
          }
          > .key_word_box {
            grid-template-rows: 20% 80%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            >.key_word_list {
              padding: 1vh 1vw;
              > span {
                &.key_word {
                  margin: 0 .5rem 1vh 0;
                  padding: .3rem .5rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            grid-template-rows: 20% 80%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .introduce_me_list {
              margin-left: 1.5vw;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    @media screen and (orientation: landscape) {      
      .prof_categorized {
        grid-template-columns: 40% 60%;
        >.descript {
          >.back {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
          > .pic_frame {
            border-radius: 20px;
            width: 23vh;
            height: 23vh;
          }
          >.backdrop {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
        }
        >.introduce_container {
          font-size: 1.2rem;
          overflow: hidden;
          row-gap: 1rem;
          column-gap: 1rem;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          >.pic_container {
            grid-template-rows: 15% auto 15% 15%;
            padding: 1vh 1vw;
            column-gap: 0;
            > h3 {
              font-size: 1.8rem;
            }
            >.data_box {
              > .data_list {
                > li,
                span {
                  padding: .2rem .4rem; 
                }
              }
            }
          }
          >.info_box {
            grid-template-rows: 20% 20% 20% auto;
            padding: 1vh 1vw;
            > h3 {
              font-size: 1.8rem;
            }
            >.info_list {
              > span {
                padding: .2rem .4rem
              }
            }
            >.info2 {
              .info2_list {
                > li {
                  padding: .2rem .4rem;
                }
              }
            }
          }
          > .key_word_box {
            grid-template-rows: 20% 80%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 1.8rem;
            }
            >.key_word_list {
              padding: 0 1vw;
              > span {
                &.key_word {
                  margin: 0 .5rem;
                  padding: .3rem .4rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            padding: 1vh 1vw;
            > h3 {
              font-size: 1.8rem;
            }
            > .introduce_me_list {
              margin-left: 1.5vw;
            }
          }
        }
      }
    } 

    @media screen and (orientation: portrait) {
      .prof_categorized {
        grid-template-rows: 25% 75%;
        >.descript {
          >.back {
            width: 11vh;
            height: 11vh;
            border-radius: 10px;
          }
          > .pic_frame {
            width: 14vh;
            height: 14vh;
            border-radius: 15px;
          }
          >.backdrop {
            width: 11vh;
            height: 11vh;
            border-radius: 10px;
          }
        }
        >.introduce_container {
          font-size: 1.4rem;
          grid-template-rows: 40% fit-content fit-content;
          column-gap: 1rem;
          row-gap: 1rem;
          >.pic_container {
            grid-template-rows: 15% auto 15% 15%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 1.8rem;
            }
            >.data_box {
              width: 100%;
              height: 100%;
              > .data_list {
                width: 100%;
                > li,
                span {
                  padding: .2rem .4rem; 
                }
              }
            }
          }
          >.info_box {
            grid-template-rows: 15% 15% 15% 30%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 1.8rem;
            }
            > .info_list {
              > span {
                padding: .2rem .4rem
              }
            }
            >.info2 {
              >.info2_list {
                > li {
                  padding: .2rem .4rem;
                }
              }
            }
          }
          > .key_word_box {
            grid-row: 2;
            grid-column: 1/3;
            height: auto;
            max-height: -moz-fit-content;
            max-height: fit-content;
            height: -moz-max-content;
            height: max-content;
            grid-template-rows: 20% 80%;
            row-gap: .5rem;
            padding: 1vh 1vw;
            > h3 {
              font-size: 1.8rem;
            }
            >.key_word_list {
              margin: 0 auto;
              width: 95%;
              padding: .5rem 0;
              > span {
                &.key_word {
                  margin: 0 1vw .5rem;
                  padding: .2rem .4rem;
                  &:before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            grid-row: 3;
            grid-column: 1/3;
            padding: 1vh 1vw;
            grid-template-columns: 100%;
            grid-template-rows: 15% 85%;
            row-gap: .5rem;
            > h3 {
              font-size: 1.8rem;
            }
            > .introduce_me_list {
              margin-left: auto;
              width: 93%;
              max-height: -moz-fit-content;
              max-height: fit-content;
              height: -moz-max-content;
              height: max-content;
              > li {
                padding-left: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}



@media (hover: none) and (pointer: coarse) {

  @media screen and (min-width: 1281px) {
    .prof_categorized {
      grid-template-columns: 45% 55%;
      >.descript {
        >.back {
          border-radius: 20px;
          width: 18vh;
          height: 18vh;
        }
        > .pic_frame {
          border-radius: 20px;
          width: 23vh;
          height: 23vh;
        }
        >.backdrop {
          border-radius: 20px;
          width: 18vh;
          height: 18vh;
        }
      }
      >.introduce_container {
        row-gap: 1rem;
        column-gap: 1rem;
        >.pic_container {
          padding: 2vh 1vw;
          > h3 {
            font-size: 2.4rem;
          }
          >.data_box {
            > ul {
              > li {
                padding: .2rem .4rem;
              }
            }
          }
        }
        >.info_box {
          padding: 2vh 1vw;
          > h3 {
            font-size: 2.4rem;
          }
          > .info_list {
            > span {
              padding: .3rem .5rem
            }
          }
          >.info2 {
            > ul {
              > li {
                padding: .2rem .4rem;
              }
            }
          }
        }
        > .key_word_box {
          padding: 2vh 1vw;
          > h3 {
            font-size: 2.4rem;
          }
          >.key_word_list {
            padding: 2vh 1vw 3vh;
            > span {
              &.key_word {
                margin: 1vh 1rem 1vh 0;
                padding: .4rem .8rem;
                &::before{
                  margin-right: .5rem;
                }
              }
            }
          }
        }
        > .introduce_me_box {
          grid-template-rows: 20% 80%;
          padding: 2vh 1vw;
          > h3 {
            font-size: 2.4rem;
          }
          > .introduce_me_list {
            margin-left: 1.5vw;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    @media screen and (orientation: landscape) {
      .prof_categorized {
        grid-template-columns: 40% 60%;
        >.descript {
          >.back {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
          > .pic_frame {
            border-radius: 20px;
            width: 23vh;
            height: 23vh;
          }
          >.backdrop {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
        }
        >.introduce_container {
          row-gap: 1rem;
          column-gap: 1rem;
          font-size: 1.4rem;
          >.pic_container {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            >.data_box {
              > ul {
                > li {
                  padding: .2rem .4rem;
                }
              }
            }
          }
          >.info_box {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            > .info_list {
              > span {
                padding: .4rem .8rem
              }
            }
            >.info2 {
              > ul {
                > li {
                  border-radius: 5px;
                }
              }
            }
          }
          > .key_word_box {
            grid-template-rows: 20% 80%;
            padding: 2vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            >.key_word_list {
              padding: 2vh 1vw 3vh;
              > span {
                &.key_word {
                  margin: 1vh 1rem 1vh 0;
                  padding: .4rem .8rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .introduce_me_list {
              margin-left: 1.5vw;
            }
          }
        }
      }
    }
    @media screen and (orientation: portrait) {
      .prof_categorized {
        grid-template-rows: 40% 60%;
        >.descript {
          >.back {
            width:14vh;
            height:14vh;
            border-radius: 20px;
          }
          > .pic_frame {
            width: 17vh;
            height: 17vh;
            border-radius: 20px;
          }
          >.backdrop {
            width:14vh;
            height:14vh;
            border-radius: 20px;
          }
        }
        >.introduce_container {
          font-size: 1.8rem;
          grid-template-rows: repeat(3, 1fr);
          column-gap: 1rem;
          row-gap: 1rem;
          >.pic_container {
            border-radius: 20px;
            grid-template-rows: 15% fit-content repeat(2, 15%);
            padding: 1vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            >.data_box {
              > .data_list {
                > li,
                > span {
                  padding: .4rem .5rem; 
                }
              }
            }
          }
          >.info_box {
            border-radius: 20px;
            grid-template-rows: 15% 40% 15% 30%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            > .info_list {
              > span {
                font-size: 1.6rem;
                padding: .4rem .5rem
              } 
            }
            .info2_list {
              > li {
                height: 100%;
                align-self: center;
                padding: .4rem .5rem;
              }
            }
          }
          > .key_word_box {
            grid-row: 2;
            grid-column: 1/3;
            border-radius: 20px;
            grid-template-rows: 20% 50%;
            align-content: space-evenly;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            >.key_word_list {
              justify-content: space-evenly;
              align-items: center;
              padding: 1vh 0 0 1vw;
              > span {
                &.key_word {
                  margin: 0 .5rem 1vh 0;
                  padding: .4rem .5rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            grid-row: 3;
            grid-column: 1/3;
            border-radius: 20px;
            grid-template-rows: 20% 80%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            > .introduce_me_list {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
  
    @media screen and (orientation: landscape) {
      .prof_categorized {
        grid-template-columns: 40% 60%;
        >.descript {
          >.back {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
          > .pic_frame {
            border-radius: 20px;
            width: 23vh;
            height: 23vh;
          }
          >.backdrop {
            border-radius: 20px;
            width: 18vh;
            height: 18vh;
          }
        }
        >.introduce_container {
          font-size: 1.4rem;
          grid-template-columns: 49% 49%;
          grid-template-rows: 49% 49%;
          >.pic_container {
            padding: 2vh 1vw;
            grid-template-rows: 15% auto 15% 15%;
            > h3 {
              font-size: 2rem;
            }
            >.data_box {
              > ul {
                > li {
                  padding: .2rem .4rem;
                }
              }
            }
          }
          >.info_box {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .info_list {
              > span {
                padding: .4rem .8rem
              }
            }
          }
          > .key_word_box {
            grid-template-rows: 20% 80%;
            padding: 2vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            >.key_word_list {
              padding: 1vh 0 0 1vw;
              > span {
                &.key_word {
                  margin: 1vh .5rem 0 0;
                  padding: .4rem .8rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            padding: 2vh 1vw;
            > h3 {
              font-size: 2rem;
            }
            > .introduce_me_list {
              margin-left: 1.5vw;
            }
          }
        }
      }
      @media screen and (max-height: 650px) {
        .prof_categorized {
          >.descript {
            >.back {
              border-radius: 15px;
              width: 20vh;
              height: 20vh;
            }
            > .pic_frame {
              border-radius: 15px;
              width: 25vh;
              height: 25vh;
            }
            >.backdrop {
              border-radius: 15px;
              width: 20vh;
              height: 20vh;
            }
          }
          >.introduce_container {
            font-size: 1.4rem;
            grid-template-columns: 49% 49%;
            grid-template-rows: 49% 49%;
            >.pic_container {
              padding: 2vh 1vw;
              grid-template-rows: 15% auto 15% 15%;
              > h3 {
                font-size: 2rem;
              }
              >.data_box {
                > ul {
                  > li {
                    padding: .2rem .4rem;
                  }
                }
              }
            }
            >.info_box {
              padding: 2vh 1vw;
              > h3 {
                font-size: 2rem;
              }
              > .info_list {
                > span {
                  padding: .4rem .8rem
                }
              }
            }
            > .key_word_box {
              grid-template-rows: 20% 80%;
              padding: 2vh 1vw;
              > h3 {
                font-size: 2rem;
              }
              >.key_word_list {
                padding: 1vh 0 0 1vw;
                > span {
                  &.key_word {
                    margin: 1vh .5rem 0 0;
                    padding: .4rem .8rem;
                    &::before{
                      margin-right: .5rem;
                    }
                  }
                }
              }
            }
            > .introduce_me_box {
              padding: 2vh 1vw;
              > h3 {
                font-size: 2rem;
              }
              > .introduce_me_list {
                margin-left: 1.5vw;
              }
            }
          }
        }
      }
    }
  
    @media screen and (orientation: portrait) {
      .prof_categorized {
        grid-template-rows: 30% 70%;
        >.descript {
          >.back {
            width:14vh;
            height:14vh;
            border-radius: 15px;
          }
          > .pic_frame {
            width: 17vh;
            height: 17vh;
            border-radius: 15px;
          }
          >.backdrop {
            width:14vh;
            height:14vh;
            border-radius: 15px;
          }
        }
        >.introduce_container {
          font-size: 1.6rem;
          grid-template-rows: repeat(2, 1fr);
          column-gap: 1rem;
          row-gap: 1rem;
          >.pic_container {
            grid-template-rows: 15% fit-content repeat(2, 15%);
            padding: 1vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            >.data_box {
              > .data_list {
                > li,
                > span {
                  padding: .4rem .5rem; 
                }
              }
            }
          }
          >.info_box {
            grid-template-rows: 15% 40% 15% 30%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            > .info_list {
              > span {
                font-size: 1.6rem;
                padding: .4rem .5rem
              } 
            }
            .info2_list {
              > li {
                height: 100%;
                align-self: center;
                padding: .4rem .5rem;
              }
            }
          }
          > .key_word_box {
            grid-template-rows: 20% 80%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            >.key_word_list {
              padding: 1vh 0 0 1vw;
              > span {
                &.key_word {
                  margin: 0 .5rem 1vh 0;
                  padding: .4rem .5rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            grid-template-rows: 20% 80%;
            padding: 1vh 1vw;
            > h3 {
              font-size: 2.4rem;
            }
            > .introduce_me_list {
              margin-left: 3vw;
            }
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @media screen and (orientation: landscape) {      
      .prof_categorized {
        grid-template-columns: 40% 60%;
        >.descript {
          >.back {
            border-radius: 10px;
            width: 18vh;
            height: 18vh;
          }
          > .pic_frame {
            border-radius: 10px;
            width: 23vh;
            height: 23vh;
          }
          >.backdrop {
            border-radius: 10px;
            width: 18vh;
            height: 18vh;
          }
        }
        >.introduce_container {
          overflow: hidden;
          row-gap: 1rem;
          column-gap: 1rem;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          >.pic_container {
            grid-template-rows: 15% auto 15% 15%;
            padding: 1vh 1vw;
            column-gap: 0;
            h3 {
              font-size: 1.8rem;
            }
            >.data_box {
              > .data_list {
                > li,
                span {
                  padding: .2rem .4rem; 
                }
              }
            }
          }
          >.info_box {
            grid-template-rows: 20% 20% 20% auto;
            padding: 1vh 1vw;
            >.info_list {
              > span {
                padding: .2rem .4rem
              }
            }
            >.info2 {
              .info2_list {
                > li {
                  padding: .2rem .4rem;
                }
              }
            }
          }
          > .key_word_box {
            grid-template-rows: 20% 80%;
            padding: 1vh 1vw;
            >.key_word_list {
              padding: 0 1vw;
              > span {
                &.key_word {
                  margin: 0 .5rem;
                  padding: .3rem .4rem;
                  &::before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            padding: 1vh 1vw;
            > .introduce_me_list {
              margin-left: 1.5vw;
            }
          }
        }
      }
      @media screen and (max-height: 600px) {
        .prof_categorized {
          grid-template-columns: 30% 70%;
          >.introduce_container {
            font-size: 1.2rem;
            overflow: unset;
            row-gap: 1vh;
            column-gap: 1vw;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            h3 {
              font-size: 1.8rem;
            }
            >.pic_container {
              grid-row: 1;
              grid-column: 1;
              grid-template-rows: 15% fit-content repeat(2, 15%);
              padding: 1vh 1vw;
              column-gap: 0;
              >.data_box {
                > .data_list {
                  > li,
                  span {
                    padding: .2rem .4rem; 
                  }
                }
              }
            }
            >.info_box {
              grid-row: 1;
              grid-column: 2;
              grid-template-rows: repeat(3, 20%) auto;
              padding: 1vh 1vw;
              >.info_list {
                > span {
                  padding: .2rem .4rem
                }
              }
              >.info2 {
                .info2_list {
                  > li {
                    padding: .2rem .4rem;
                  }
                }
              }
            }
            > .key_word_box {
              grid-row: 2;
              grid-column: 1 / 3;
              align-content: space-evenly;
              grid-template-rows: 20% 60%;
              padding: 1vh 1vw;
              >.key_word_list {
                padding: 0 1vw;
                > span {
                  &.key_word {
                    margin: 0 .5rem;
                    padding: .3rem .4rem;
                    &::before{
                      margin-right: .5rem;
                    }
                  }
                }
              }
            }
            > .introduce_me_box {
              grid-row: 3;
              grid-column: 1 / 3;
              padding: 1vh 1vw;
              > .introduce_me_list {
                margin-left: 4vw;
                > li {
                  padding-left: .3rem;
                }
              }
            }
          }
        }
      }
    } 
  
    @media screen and (orientation: portrait) {
      .prof_categorized {
        grid-template-rows: 30% 70%;
        >.descript {
          >.back {
            width: 15vh;
            height: 15vh;
            border-radius: 20px;
          }
          > .pic_frame {
            width: 17vh;
            height: 17vh;
            border-radius: 20px;
          }
          >.backdrop {
            width: 15vh;
            height: 15vh;
            border-radius: 20px;
          }
        }
        >.introduce_container {
          grid-template-rows: 40% repeat(2, fit-content);
          column-gap: 1rem;
          row-gap: 1rem;
          font-size: 1.4rem;
          h3 {
            font-size: 2rem;
          }
          >.pic_container {
            grid-template-rows: 15% auto 15% 15%;
            padding: 1vh 1vw;
            >.data_box {
              width: 100%;
              height: 100%;
              > .data_list {
                width: 100%;
                > li,
                span {
                  padding: .3rem .4rem; 
                }
              }
            }
          }
          >.info_box {
            grid-template-rows: 15% 15% 15% 30%;
            padding: 1vh 1vw;
            > .info_list {
              > span {
                padding: .3rem .4rem
              }
            }
            >.info2 {
              >.info2_list {
                > li {
                  padding: .3rem .4rem;
                }
              }
            }
          }
          > .key_word_box {
            grid-row: 2;
            grid-column: 1/3;
            height: auto;
            max-height: -moz-fit-content;
            max-height: fit-content;
            height: -moz-max-content;
            height: max-content;
            grid-template-rows: 20% 80%;
            row-gap: .5rem;
            padding: 1vh 1vw;
            >.key_word_list {
              margin: 0 auto;
              width: 95%;
              padding: .5rem 0;
              > span {
                &.key_word {
                  margin: 0 1vw .5rem;
                  padding: .3rem .4rem;
                  &:before{
                    margin-right: .5rem;
                  }
                }
              }
            }
          }
          > .introduce_me_box {
            grid-row: 3;
            grid-column: 1/3;
            padding: 1vh 1vw;
            grid-template-columns: 100%;
            grid-template-rows: 15% 85%;
            row-gap: .5rem;
            > .introduce_me_list {
              margin: 0 auto;
              width: 93%;
              max-height: -moz-fit-content;
              max-height: fit-content;
              height: -moz-max-content;
              height: max-content;
              > li {
                padding-left: 1.5rem;
              }
            }
          }
        }
      }
      @media screen and (max-width: 540px) and (max-width: 720px) {
        .prof_categorized {
          grid-template-rows: 25% 75%;
          >.descript {
            >.back {
              width: 14vh;
              height: 14vh;
              border-radius: 10px;
            }
            > .pic_frame {
              width: 16vh;
              height: 16vh;
              border-radius: 10px;
            }
            >.backdrop {
              width: 14vh;
              height: 14vh;
              border-radius: 10px;
            }
          }
          >.introduce_container {
            grid-template-rows: 40% repeat(2, fit-content);
            column-gap: 1vw;
            row-gap: 1vh;
            font-size: 1.25rem;
            h3 {
              font-size: 1.8rem;
            }
            >.pic_container {
              grid-template-rows: 15% auto 15% 15%;
              padding: 1vh 1vw;
              >.data_box {
                width: 100%;
                height: 100%;
                > .data_list {
                  width: 100%;
                  > li,
                  span {
                    padding: .2rem .4rem; 
                  }
                }
              }
            }
            >.info_box {
              grid-template-rows: 15% 40% 15% 30%;
              padding: 1vh 1vw;
              > .info_list {
                > span {
                  padding: .2rem .4rem
                }
              }
              >.info2 {
                >.info2_list {
                  > li {
                    padding: .2rem .4rem;
                  }
                }
              }
            }
            > .key_word_box {
              grid-row: 2;
              grid-column: 1/3;
              height: auto;
              max-height: -moz-fit-content;
              max-height: fit-content;
              height: -moz-max-content;
              height: max-content;
              grid-template-rows: 20% 80%;
              row-gap: .5rem;
              padding: 1vh 1vw;
              >.key_word_list {
                margin: 0 auto;
                width: 95%;
                padding: .5rem 0;
                > span {
                  &.key_word {
                    margin: 0 1vw .5rem;
                    padding: .2rem .4rem;
                    &:before{
                      margin-right: .5rem;
                    }
                  }
                }
              }
            }
            > .introduce_me_box {
              grid-row: 3;
              grid-column: 1/3;
              padding: 1vh 1vw;
              grid-template-columns: 100%;
              grid-template-rows: 15% 85%;
              row-gap: .5rem;
              > .introduce_me_list {
                margin: 0 auto;
                width: 85%;
                max-height: -moz-fit-content;
                max-height: fit-content;
                height: -moz-max-content;
                height: max-content;
                > li {
                  padding-left: .5rem;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 321px) and (max-width: 480px) {
    .prof_categorized {
      overflow: hidden;
      width: var(--mobile-md);
      grid-template-columns: 100%;
      height: auto;
      max-height: -moz-fit-content;
      max-height: fit-content;
      height: -moz-max-content;
      height: max-content;
      justify-content: flex-start;
      align-items: center;
      >.descript {
        width: 100%;
        height: 18rem;
        grid-template-rows: 100%;
        grid-template-columns: 10% 30% 20% 30% 10%;
        justify-items: center;
        align-items: center;
        >.back {
          z-index: 2;
          grid-row: 1;
          grid-column: 2;
          width:10rem;
          height:10rem;
          border-radius: 20px;
        }
        > .pic_frame {
          z-index: 1;
          grid-row: 1;
          grid-column: 3;
          width: 13rem;
          height: 13rem;
          border-radius: 20px;
        }
        >.backdrop {
          z-index: 0;
          grid-row: 1;
          grid-column: 4;
          width:10rem;
          height:10rem;
          border-radius: 20px;
        }
      }
      >.introduce_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        row-gap: 1vh;
        >.pic_container {
          height: auto;
          max-height: -moz-fit-content;
          max-height: fit-content;
          height: -moz-max-content;
          height: max-content;
          flex-flow: column wrap;
          justify-content: space-evenly;
          align-items: center;
          grid-template-columns: 100%;
          grid-template-rows: 15% auto 15% 15%;
          padding: 1rem 0;
          column-gap: 0;
          > h3 {
            font-size: 1.8rem;
          }
          >.data_box {
            height: auto;
            max-height: -moz-fit-content;
            max-height: fit-content;
            height: -moz-max-content;
            height: max-content;
            > .data_list {
              width: 65%;
              align-content: space-evenly;
              margin: 0 auto;
              > li,
              > span {
                padding: .2rem .4rem; 
              }
            }
          }
        }
        >.info_box {
          height: auto;
          max-height: -moz-fit-content;
          max-height: fit-content;
          height: -moz-max-content;
          height: max-content;
          grid-template-columns: 100%;
          grid-template-rows: 15% 30% 15% 30%;
          padding: 1rem 0;
          row-gap: .5rem;
          > h3 {
            font-size: 1.8rem;
          }
          > .info_list {
            justify-content: center;
            align-items: center;
            > span {
              padding: .4rem .8rem
            }
          }
          .info2 {
            >.info2_list {
              justify-content: space-evenly;
              align-items: center;
              > li {
                padding: .3rem .4rem;
              }
            }
          }
        }
        > .key_word_box {
          height: auto;
          max-height: -moz-fit-content;
          max-height: fit-content;
          height: -moz-max-content;
          height: max-content;
          grid-template-rows: 20% 70%;
          row-gap: .5rem;
          padding: 1rem;
          > h3 {
            font-size: 1.8rem;
          }
          >.key_word_list {
            width: 90%;
            margin: 0 auto;
            padding: .5rem 0;
            > span {
              &.key_word {
                margin: 0 1vw .5rem;
                padding: .4rem .8rem;
                &::before{
                  margin-right: .5rem;
                }
              }
            }
          }
        }
        > .introduce_me_box {
          height: auto;
          max-height: -moz-fit-content;
          max-height: fit-content;
          height: -moz-max-content;
          height: max-content;
          padding: 1rem;
          grid-template-columns: 100%;
          grid-template-rows: 15% 95%;
          row-gap: .5rem;
          > h3 {
            font-size: 1.8rem;
          }
          > .introduce_me_list {
            width: 95%;
            margin-left: auto;
            height: auto;
            max-height: -moz-fit-content;
            max-height: fit-content;
            height: -moz-max-content;
            height: max-content;
            > li {
              padding-left: .5rem;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 320px) {
  
    .prof_categorized {
      overflow: hidden;
      width: var(--mobile-small);
      height: 100%;
      grid-template-columns: 100%;
      grid-template-rows: 15% 85%;
      justify-content: flex-start;
      align-items: center;
      >.descript {
        width: 100%;
        height: 18rem;
        grid-template-rows: 100%;
        grid-template-columns: 10% 30% 20% 30% 10%;
        justify-items: center;
        align-items: center;
        >.back {
          z-index: 2;
          grid-row: 1;
          grid-column: 2;
          width:10rem;
          height:10rem;
          border-radius: 10px;
        }
        > .pic_frame {
          z-index: 1;
          grid-row: 1;
          grid-column: 3;
          width: 12rem;
          height: 12rem;
          border-radius: 10px;
        }
        >.backdrop {
          z-index: 0;
          grid-row: 1;
          grid-column: 4;
          width:10rem;
          height:10rem;
          border-radius: 10px;
        }
      }
      >.introduce_container {
        width: 100%;
        height: 100%;
        align-content: space-evenly;
        align-items: center;
        font-size: 1.4rem;
        row-gap: 0;
        >.pic_container {
          height: auto;
          max-height: -moz-fit-content;
          max-height: fit-content;
          height: -moz-max-content;
          height: max-content;
          flex-flow: column wrap;
          justify-content: space-evenly;
          align-items: center;
          grid-template-columns: 100%;
          grid-template-rows: 15% auto 15% 15%;
          padding: 2rem 0;
          column-gap: 0;
          > h3 {
            font-size: 1.8rem;
          }
          >.data_box {
            height: auto;
            max-height: -moz-fit-content;
            max-height: fit-content;
            height: -moz-max-content;
            height: max-content;
            > .data_list {
              align-content: space-evenly;
              > li,
              span {
                padding: .3rem .4rem; 
              }
            }
          }
        }
        >.info_box {
          height: auto;
          max-height: -moz-fit-content;
          max-height: fit-content;
          height: -moz-max-content;
          height: max-content;
          grid-template-columns: 100%;
          grid-template-rows: 20% 30% 20% 30%;
          padding: 1rem;
          > h3 {
            font-size: 2rem;
          }
          > .info_list,
          .info2_list {
            justify-content: space-evenly;
            align-items: center;
            > span {
              padding: .4rem .8rem
            }
            > li {
              padding: .4rem .8rem
            }
          }
        }
        > .key_word_box {
          height: auto;
          max-height: -moz-fit-content;
          max-height: fit-content;
          height: -moz-max-content;
          height: max-content;
          grid-template-rows: 15% 85%;
          padding: 1rem 0 0 1rem;
          > h3 {
            font-size: 2rem;
          }
          >.key_word_list {
            padding: .5rem 0;
            > span {
              &.key_word {
                margin: .5rem;
                padding: .4rem .8rem;
                &::before{
                  margin-right: .5rem;
                }
              }
            }
          }
        }
        > .introduce_me_box {
          height: auto;
          max-height: -moz-fit-content;
          max-height: fit-content;
          height: -moz-max-content;
          height: max-content;
          padding: 1rem;
          grid-template-rows: 15% 85%;
          > h3 {
            font-size: 2rem;
          }
          > .introduce_me_list {
            margin-bottom: 2rem;
            margin-left: 1.5rem;
            height: auto;
            max-height: -moz-fit-content;
            max-height: fit-content;
            height: -moz-max-content;
            height: max-content;
            > li {
              padding-left: .5rem;
            }
          }
        }
      }
    } 
  }
}