/* footer */
/* layout.css */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 8k
*/

#contact {
  > div.contact_box {
    position: relative;
    display: flex;
    >.sendmail_form,
    >.final_greet {
      display: flex;
      flex-flow: column wrap;
    }

    > .sendmail_form {
      > form {
        width: 100%;
        height: 100%;
        > fieldset {
          display: flex;
          width: 100%;
          height: 100%;
          flex-flow: column wrap;
          align-content: center;
          input,
          textarea {
            border: none;
            outline: none;
            border-radius: 10px;
            pointer-events: auto;
            cursor: none;
            appearance: none;
          }
            input {
              &[type="text"]#from_name,
              &[type="email"]#e-mail {
                font-size: 1.4rem;
                display: flex;
                justify-content: space-between;
                width: 100%;
                &::placeholder {
                  font-family: 'Red Hat Display', sans-serif;
                }
              }
            }
            textarea#message {
              width: 100%;
              height: 40%;
              resize: none;
              overflow-y: auto;
              font-size: 1.4rem;
              &::placeholder {
                font-family: 'Red Hat Display', sans-serif;
              }
              &::-webkit-scrollbar {
                height: 100%;
                appearance: none;
              }
              &::-webkit-scrollbar-track{
                border-radius: 5px;
              }
              &::-webkit-scrollbar-thumb {
                width: 100%;
                height: auto;
                border-radius: 5px;
              }
            }
            >.btns {
              display: flex;
              justify-content: space-between;
              width: 100%;
              > input {
                font-weight: normal;
                width: 40%;
                background-color: transparent;                
                font-family: "Red Hat Display", sans-serif;
              }
            }
          }
      }
    }
    > .final_greet {
      > .thanks {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        line-height: 1.5;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      > .link_set {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        > a {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          > span {
            &.ico {
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: center;
              -o-transition: filter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              -moz-transition: filter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              -webkit-transition: filter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              transition: filter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              > img {
                width: 100%;
                height: 100%;
              }
            }
            &.label {
              display: none;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) {
  #contact {
    > div.contact_box {
      justify-content: space-between;
      >.final_greet {
        flex-flow: column wrap;
        justify-content: space-evenly;
        width: 100%;
        height: 30%;
        > .thanks {
          width: 100%;
          font-size: 2rem;
          >.final_thanks {
            text-align: center;
            font-size: 1.8rem;
          } 
        }
        > .link_set {
          height: 4rem;
        }
      }
      >.sendmail_form {
        width: 100%;
        height: 70%;
        > form {
          > fieldset {
            padding: 0;
            justify-content: space-between;
            input {
              &[type="text"]#from_name,
              &[type="email"]#e-mail {
                height: 6vh;
              } 
            }
            textarea#message {
              height: 50%;
              &::-webkit-scrollbar {
                width: 5px;
              }
            }
            > .btns {
              height: 6vh;
            }
          }
        }
      }   
    }
  }
}

// max-width: 480px
@media (hover: hover) and (pointer: fine) {

  @media screen and (min-width: 1025px) {
    @media screen and (orientation: landscape) {
      #contact {
      > div.contact_box {
        width: 90%;
        margin: 0 auto;
        flex-flow: row wrap;    
        > .sendmail_form {
            width: 50%;
            height: 100%;
          > form {
            padding-right: 2vw;
            > fieldset {
              justify-content: center;
              row-gap: 2vh;
              input {
                &[type="text"]#from_name,
                &[type="email"]#e-mail {
                  height: 6vh;
                  padding: 1rem;
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
              }
              textarea#message {
                height: 40%;
                padding: 1rem;
                &::-webkit-scrollbar {
                  width: 10px;
                  height: 100%;
                  appearance: none;
                }
                &::-webkit-scrollbar-track{
                  width: 3px;
                  border-radius: 5px;
                }
                &::-webkit-scrollbar-thumb {
                  width: 100%;
                  height: auto;
                  border-radius: 5px;
                }
                &::placeholder {
                  font-size: 1.5rem;
                }
              }
              .btns {
                display: flex;
                height: 6vh;
                > input {
                  width: 40%;
                  font-size: 1.5rem;
                  background-color: transparent;
                }
              }
            }
          }
        }
        > .final_greet {
          flex-flow: column wrap;
          width: 50%;
          height: 100%;
          justify-content: center;
          > .thanks {
            display: flex;
            flex-flow: column wrap;
            width: 100%;
            height: 40%;
            font-size: 2rem;
            line-height: 1.5;
            justify-content: space-evenly;
            align-items: center;
            >.final_thanks {
              font-size: 1.8rem;
            }
          }
          > .link_set {
            > a {
              width: 4rem;
              height: 4rem;
            }
          }
        }
      }
    }
    }
    @media screen and (orientation: portrait) {
      #contact {
        > div.contact_box {
          width: var(--tablet-port);
          margin: 0 auto;
          flex-flow: column-reverse wrap; 
          >.final_greet {
            flex-flow: column wrap;
            justify-content: space-evenly;
            width: 100%;
            height: 30%;
            > .thanks {
              display: flex;
              flex-flow: column wrap;
              width: 100%;
              height: 40%;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              font-size: 3rem;
              > .final_thanks {
                font-size: 2rem;
              }
            }
            > .link_set {
              > a {
                width: 5rem;
                height: 5rem;
              }
            }
          }
          >.sendmail_form {
            width: 100%;
            height: 70%;
            > form {
              > fieldset {
                padding: 0;
                justify-content: space-evenly;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 6rem;
                    padding: 2rem; 
                    &::placeholder {
                      font-size: 1.7rem;
                    }
                  } 
                }
                textarea#message {
                  height: 40%;
                  padding: 2rem;
                  &::-webkit-scrollbar {
                    width: 5px;
                  }
                  &::placeholder {
                    font-size: 1.7rem;
                  }
                }
                > .btns {
                  height: 6rem;
                  >input {
                    font-size: 1.6rem; 
                  }
                }
              }
            }
          }   
        }
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    // #contact {
    //   > div.contact_box {
    //     margin: 0 auto;
    //     >.final_greet {
    //       flex-flow: column wrap;
    //       justify-content: center;
    //       > .thanks {
    //         display: flex;
    //         flex-flow: column wrap;
    //         width: 100%;
    //         height: 40%;
    //         line-height: 1.5;
    //         justify-content: space-evenly;
    //         align-items: center;
    //         font-size: 2rem;
    //         > .final_thanks {
    //           font-size: 1.8rem;
    //         }
    //       }
    //       > .link_set {
    //         > a {
    //           width: 4rem;
    //           height: 4rem;
    //         }
    //       }
    //     }
    //     >.sendmail_form {
    //       width: 100%;
    //       height: 70%;
    //       > form {
    //         > fieldset {
    //           padding: 0;
    //           justify-content: space-evenly;
    //           input {
    //             &[type="text"]#from_name,
    //             &[type="email"]#e-mail {
    //               height: 6vh;
    //               padding: 2rem; 
    //               &::placeholder {
    //                 font-size: 1.5rem;
    //               }
    //             } 
    //           }
    //           textarea#message {
    //             height: 40%;
    //             padding: 2rem;
    //             &::-webkit-scrollbar {
    //               width: 5px;
    //             }
    //             &::placeholder {
    //               font-size: 1.5rem;
    //             }
    //           }
    //           > .btns {
    //             height: 6vh;
    //             >input {
    //               font-size: 1.5rem; 
    //             }
    //           }
    //         }
    //       }
    //     }   
    //   }
    // }
  
    @media screen and (orientation: portrait) {
      #contact {
        > div.contact_box {
          width: var(--tablet-port);
          margin: 0 auto;
          flex-flow: column-reverse wrap; 
          >.final_greet {
            flex-flow: column wrap;
            justify-content: center;
            width: 100%;
            height: 30%;
            > .thanks {
              display: flex;
              flex-flow: column wrap;
              width: 100%;
              height: 40%;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              font-size: 2rem;
              > .final_thanks {
                font-size: 1.8rem;
              }
            }
            > .link_set {
              > a {
                width: 4rem;
                height: 4rem;
              }
            }
          }
          >.sendmail_form {
            width: 100%;
            height: 70%;
            > form {
              > fieldset {
                padding: 0;
                justify-content: space-evenly;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 6vh;
                    padding: 2rem; 
                    &::placeholder {
                      font-size: 1.5rem;
                    }
                  } 
                }
                textarea#message {
                  height: 40%;
                  padding: 2rem;
                  &::-webkit-scrollbar {
                    width: 5px;
                  }
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
                > .btns {
                  height: 6vh;
                  >input {
                    font-size: 1.6rem; 
                  }
                }
              }
            }
          }   
        }
      }
    }
    @media screen and (orientation: landscape) {
      #contact {
        > div.contact_box {
          margin: 0 auto;
          flex-flow: row nowrap;    
          > .sendmail_form {
              width: 50%;
              height: 100%;
            > form {
              padding-right: 2.5vw;
              > fieldset {
                justify-content: center;
                row-gap: 2vh;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 6vh;
                    padding: 2rem;
                    &::placeholder {
                      font-size: 1.5rem;
                    }
                  }
                }
                textarea#message {
                  height: 40%;
                  padding: 2rem;
                  &::-webkit-scrollbar {
                    width: 10px;
                    height: 100%;
                    appearance: none;
                  }
                  &::-webkit-scrollbar-track{
                    width: 3px;
                    border-radius: 5px;
                  }
                  &::-webkit-scrollbar-thumb {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                  }
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
      
                .btns {
                  display: flex;
                  height: 6vh;
                  > input {
                    width: 40%;
                    font-size: 1.6rem;
                    background-color: transparent;
                  }
                }
              }
            }
          }
          > .final_greet {
            flex-flow: column wrap;
            width: 50%;
            height: 100%;
            justify-content: center;
            > .thanks {
              display: flex;
              flex-flow: column wrap;
              width: 100%;
              height: 40%;
              font-size: 1.8rem;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              >.final_thanks {
                font-size: 1.5rem;
              }
            }
            > .link_set {
              > a {
                width: 4rem;
                height: 4rem;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
  
    @media screen and (orientation: portrait) {
      #contact {
        > div.contact_box {
          width: var(--mobile-lg);
          margin: 0 auto;
          flex-flow: column-reverse wrap; 
          >.final_greet {
            flex-flow: column nowrap;
            justify-content: space-evenly;
            width: 100%;
            height: 30%;
            > .thanks {
              display: flex;
              flex-flow: column nowrap;
              width: 100%;
              height: 40%;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              font-size: 1.8rem;
              > .final_thanks {
                font-size: 1.4rem;
              }
            }
            > .link_set {
              > a {
                width: 5rem;
                height: 4rem;
              }
            }
          }
          >.sendmail_form {
            width: 100%;
            height: 70%;
            > form {
              > fieldset {
                padding: 0;
                justify-content: space-evenly;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 6vh;
                    padding: 1rem; 
                    &::placeholder {
                      font-size: 1.5rem;
                    }
                  } 
                }
                textarea#message {
                  height: 40%;
                  padding: 1rem;
                  &::-webkit-scrollbar {
                    width: 5px;
                  }
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
                > .btns {
                  height: 6vh;
                  >input {
                    font-size: 1.5rem; 
                  }
                }
              }
            }
          }   
        }
      }
    }
    @media screen and (orientation: landscape) {
      #contact {
        > div.contact_box {
          width: var(--mobile-lg);
          margin: 0 auto;
          flex-flow: row nowrap;    
          > .sendmail_form {
              width: 50%;
              height: 100%;
            > form {
              padding-right: 2.5vw;
              > fieldset {
                justify-content: space-evenly;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 4rem;
                    padding: 1rem;
                    &::placeholder {
                      font-size: 1.5rem;
                    }
                  }
                }
                textarea#message {
                  height: 50%;
                  padding: 1rem;
                  &::-webkit-scrollbar {
                    width: 10px;
                    height: 100%;
                    appearance: none;
                  }
                  &::-webkit-scrollbar-track{
                    width: 3px;
                    border-radius: 5px;
                  }
                  &::-webkit-scrollbar-thumb {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                  }
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
      
                .btns {
                  display: flex;
                  height: 3rem;
                  > input {
                    width: 40%;
                    font-size: 1.6rem;
                    background-color: transparent;
                  }
                }
              }
            }
          }
          > .final_greet {
            flex-flow: column wrap;
            width: 50%;
            height: 100%;
            row-gap: 1rem;
            justify-content: center;
            > .thanks {
              display: flex;
              flex-flow: column wrap;
              width: 100%;
              height: auto;
              font-size: 1.6rem;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              >.final_thanks {
                font-size: 1.4rem;
              }
            }
            > .link_set {
              > a {
                width: 3rem;
                height: 3rem;
              }
            }
          }
        }
      }
    }
  }
}




@media (hover: none) and (pointer: coarse) {
  @media screen and (min-width: 1025px) {
    @media screen and (orientation: landscape) {
      #contact {
      > div.contact_box {
        width: 90%;
        margin: 0 auto;
        flex-flow: row wrap;    
        > .sendmail_form {
            width: 50%;
            height: 100%;
          > form {
            padding-right: 2vw;
            > fieldset {
              justify-content: center;
              row-gap: 2vh;
              input {
                &[type="text"]#from_name,
                &[type="email"]#e-mail {
                  height: 6vh;
                  padding: 1rem;
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
              }
              textarea#message {
                height: 40%;
                padding: 1rem;
                &::-webkit-scrollbar {
                  width: 10px;
                  height: 100%;
                  appearance: none;
                }
                &::-webkit-scrollbar-track{
                  width: 3px;
                  border-radius: 5px;
                }
                &::-webkit-scrollbar-thumb {
                  width: 100%;
                  height: auto;
                  border-radius: 5px;
                }
                &::placeholder {
                  font-size: 1.5rem;
                }
              }
              .btns {
                display: flex;
                height: 6vh;
                > input {
                  width: 40%;
                  font-size: 1.5rem;
                  background-color: transparent;
                }
              }
            }
          }
        }
        > .final_greet {
          flex-flow: column wrap;
          width: 50%;
          height: 100%;
          justify-content: center;
          > .thanks {
            display: flex;
            flex-flow: column wrap;
            width: 100%;
            height: 40%;
            font-size: 2rem;
            line-height: 1.5;
            justify-content: space-evenly;
            align-items: center;
            >.final_thanks {
              font-size: 1.8rem;
            }
          }
          > .link_set {
            > a {
              width: 4rem;
              height: 4rem;
            }
          }
        }
      }
    }
    }
    @media screen and (orientation: portrait) {
      #contact {
        > div.contact_box {
          width: var(--tablet-port);
          margin: 0 auto;
          flex-flow: column-reverse wrap; 
          >.final_greet {
            flex-flow: column wrap;
            justify-content: space-evenly;
            width: 100%;
            height: 30%;
            > .thanks {
              display: flex;
              flex-flow: column wrap;
              width: 100%;
              height: 40%;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              font-size: 3rem;
              > .final_thanks {
                font-size: 2rem;
              }
            }
            > .link_set {
              > a {
                width: 5rem;
                height: 5rem;
              }
            }
          }
          >.sendmail_form {
            width: 100%;
            height: 70%;
            > form {
              > fieldset {
                padding: 0;
                justify-content: space-evenly;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 6rem;
                    padding: 2rem; 
                    &::placeholder {
                      font-size: 1.7rem;
                    }
                  } 
                }
                textarea#message {
                  height: 40%;
                  padding: 2rem;
                  &::-webkit-scrollbar {
                    width: 5px;
                  }
                  &::placeholder {
                    font-size: 1.7rem;
                  }
                }
                > .btns {
                  height: 6rem;
                  >input {
                    font-size: 1.6rem; 
                  }
                }
              }
            }
          }   
        }
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {  
    @media screen and (orientation: portrait) {
      #contact {
        > div.contact_box {
          width: var(--tablet-port);
          margin: 0 auto;
          flex-flow: column-reverse wrap; 
          >.final_greet {
            flex-flow: column wrap;
            justify-content: space-evenly;
            width: 100%;
            height: 30%;
            > .thanks {
              display: flex;
              flex-flow: column wrap;
              width: 100%;
              height: 40%;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              font-size: 2rem;
              > .final_thanks {
                font-size: 1.6rem;
              }
            }
            > .link_set {
              > a {
                width: 4rem;
                height: 4rem;
              }
            }
          }
          >.sendmail_form {
            width: 100%;
            height: 70%;
            > form {
              > fieldset {
                padding: 0;
                justify-content: space-evenly;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 5rem;
                    padding: 2rem; 
                    &::placeholder {
                      font-size: 1.5rem;
                    }
                  } 
                }
                textarea#message {
                  height: 40%;
                  padding: 2rem;
                  &::-webkit-scrollbar {
                    width: 5px;
                  }
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
                > .btns {
                  height: 5rem;
                  >input {
                    font-size: 1.6rem; 
                  }
                }
              }
            }
          }   
        }
      }
    }
    @media screen and (orientation: landscape) {
      #contact {
        > div.contact_box {
          margin: 0 auto;
          flex-flow: row nowrap;    
          > .sendmail_form {
              width: 50%;
              height: 100%;
            > form {
              padding-right: 2.5vw;
              > fieldset {
                justify-content: center;
                row-gap: 2vh;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 6vh;
                    padding: 2rem;
                    &::placeholder {
                      font-size: 1.5rem;
                    }
                  }
                }
                textarea#message {
                  height: 40%;
                  padding: 2rem;
                  &::-webkit-scrollbar {
                    width: 10px;
                    height: 100%;
                    appearance: none;
                  }
                  &::-webkit-scrollbar-track{
                    width: 3px;
                    border-radius: 5px;
                  }
                  &::-webkit-scrollbar-thumb {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                  }
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
      
                .btns {
                  display: flex;
                  height: 6vh;
                  > input {
                    width: 40%;
                    font-size: 1.6rem;
                    background-color: transparent;
                  }
                }
              }
            }
          }
          > .final_greet {
            flex-flow: column wrap;
            width: 50%;
            height: 100%;
            justify-content: center;
            > .thanks {
              display: flex;
              flex-flow: column wrap;
              width: 100%;
              height: 40%;
              font-size: 1.8rem;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              >.final_thanks {
                font-size: 1.5rem;
              }
            }
            > .link_set {
              > a {
                width: 4rem;
                height: 4rem;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    @media screen and (orientation: portrait) {
      #contact {
        > div.contact_box {
          width: var(--mobile-lg);
          margin: 0 auto;
          flex-flow: column-reverse wrap; 
          >.final_greet {
            flex-flow: column nowrap;
            justify-content: space-evenly;
            width: 100%;
            height: 30%;
            > .thanks {
              display: flex;
              flex-flow: column nowrap;
              width: 100%;
              height: 40%;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              font-size: 2rem;
              > .final_thanks {
                font-size: 1.6rem;
              }
            }
            > .link_set {
              > a {
                width: 5rem;
                height: 3.5rem;
              }
            }
          }
          >.sendmail_form {
            width: 100%;
            height: 70%;
            > form {
              > fieldset {
                padding: 0;
                justify-content: space-evenly;
                row-gap: 1vh;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 5rem;
                    padding: 1rem; 
                    &::placeholder {
                      font-size: 1.5rem;
                    }
                  } 
                }
                textarea#message {
                  height: 50%;
                  padding: 1rem;
                  &::-webkit-scrollbar {
                    width: 5px;
                  }
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
                > .btns {
                  height: 4rem;
                  >input {
                    font-size: 1.5rem; 
                  }
                }
              }
            }
          }   
        }
      }
      @media screen and (max-width: 540px) and (max-height: 720px) {
        #contact {
          > div.contact_box {
            >.sendmail_form {
              > form {
                > fieldset {
                  input {
                    &[type="text"]#from_name,
                    &[type="email"]#e-mail {
                      height: 3rem;
                      padding: 1rem; 
                      &::placeholder {
                        font-size: 1.4rem;
                      }
                    } 
                  }
                  textarea#message {
                    height: 50%;
                    padding: 1rem;
                    &::-webkit-scrollbar {
                      width: 5px;
                    }
                    &::placeholder {
                      font-size: 1.4rem;
                    }
                  }
                  > .btns {
                    height: 3rem;
                    >input {
                      font-size: 1.4rem; 
                    }
                  }
                }
              }
            }   
          }
        }
      }
    }
    @media screen and (orientation: landscape) {
      #contact {
        > div.contact_box {
          flex-flow: row nowrap;    
          > .sendmail_form {
              width: 50%;
              height: 100%;
            > form {
              padding-right: 2.5vw;
              > fieldset {
                justify-content: space-evenly;
                input {
                  &[type="text"]#from_name,
                  &[type="email"]#e-mail {
                    height: 3rem;
                    padding: 1rem;
                    &::placeholder {
                      font-size: 1.5rem;
                    }
                  }
                }
                textarea#message {
                  height: 40%;
                  padding: 1rem;
                  &::-webkit-scrollbar {
                    width: 10px;
                    height: 100%;
                    appearance: none;
                  }
                  &::-webkit-scrollbar-track{
                    width: 3px;
                    border-radius: 5px;
                  }
                  &::-webkit-scrollbar-thumb {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                  }
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                }
                .btns {
                  display: flex;
                  height: 3rem;
                  > input {
                    width: 40%;
                    font-size: 1.6rem;
                    background-color: transparent;
                  }
                }
              }
            }
          }
          > .final_greet {
            flex-flow: column wrap;
            width: 50%;
            height: 100%;
            row-gap: 1rem;
            justify-content: center;
            > .thanks {
              display: flex;
              flex-flow: column wrap;
              width: 100%;
              height: auto;
              font-size: 1.8rem;
              line-height: 1.5;
              justify-content: space-evenly;
              align-items: center;
              >.final_thanks {
                font-size: 1.5rem;
              }
            }
            > .link_set {
              > a {
                width: 3rem;
                height: 3rem;
              }
            }
          }
        }
      }
      @media screen and (max-height: 600px) {
        #contact {
          > div.contact_box {
            flex-flow: row nowrap;    
            > .sendmail_form {
                width: 50%;
                height: 100%;
              > form {
                padding-right: 0;
                > fieldset {
                  justify-content: space-evenly;
                  input {
                    &[type="text"]#from_name,
                    &[type="email"]#e-mail {
                      height: 3rem;
                      padding: 1rem;
                      &::placeholder {
                        font-size: 1.5rem;
                      }
                    }
                  }
                  textarea#message {
                    height: 40%;
                    padding: 1rem;
                    &::-webkit-scrollbar {
                      width: 10px;
                      height: 100%;
                      appearance: none;
                    }
                    &::-webkit-scrollbar-track{
                      width: 3px;
                      border-radius: 5px;
                    }
                    &::-webkit-scrollbar-thumb {
                      width: 100%;
                      height: auto;
                      border-radius: 5px;
                    }
                    &::placeholder {
                      font-size: 1.5rem;
                    }
                  }
                  .btns {
                    display: flex;
                    height: 3rem;
                    > input {
                      width: 40%;
                      font-size: 1.6rem;
                      background-color: transparent;
                    }
                  }
                }
              }
            }
            > .final_greet {
              flex-flow: column wrap;
              width: 50%;
              height: 100%;
              row-gap: 1rem;
              justify-content: center;
              > .thanks {
                display: flex;
                flex-flow: column wrap;
                width: 100%;
                height: auto;
                font-size: 1.8rem;
                line-height: 1.5;
                justify-content: space-evenly;
                align-items: center;
                >.final_thanks {
                  font-size: 1.5rem;
                }
              }
              > .link_set {
                > a {
                  width: 3rem;
                  height: 3rem;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    #contact {
      > div.contact_box {
        margin: 0 auto;
        width: var(--mobile-md);
        flex-flow: column-reverse nowrap; 
        justify-content: flex-start;
        row-gap: 1.5rem;
        >.final_greet {
          flex-flow: column wrap;
          justify-content: space-evenly;
          width: 100%;
          height: 30%;
          row-gap: .5rem;
          > .thanks {
            width: 100%;
            font-size: 1.8rem;
            >.final_thanks {
              font-size: 1.6rem;
              text-align: center;
            } 
          }
          >.link_set {
            height: 4rem;
            > a {
              width: 25%;
            }
          }
        }
        >.sendmail_form {
          width: 100%;
          height: 70%;
          > form {
            > fieldset {
              padding: 0;
              justify-content: space-evenly;
              row-gap: 1rem;
              input {
                &[type="text"]#from_name,
                &[type="email"]#e-mail {
                  height: 4rem;
                  padding: 1rem;
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                } 
              }
              textarea#message {
                height: 50%;
                padding: 1rem;
                &::-webkit-scrollbar {
                  width: 5px;
                }
                &::placeholder {
                  font-size: 1.5rem;
                }
              }
              > .btns {
                height: 4rem;
                >input {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }   
      }
    }
  }
  
  // part finish
  @media screen and (max-width: 320px) {
    #contact {
      > div.contact_box {
        width: var(--mobile-small);
        margin: 0 auto;
        flex-flow: column-reverse nowrap; 
        justify-content: flex-start;
        row-gap: .5rem;
        >.final_greet {
          flex-flow: column wrap;
          justify-content: space-evenly;
          margin: 0 auto;
          width: 95%;
          height: 35%;
          row-gap: .5rem;
          > .thanks {
            width: 100%;
            font-size: 1.6rem;
            >.final_thanks {
              font-size: 1.4rem;
              text-align: center;
            } 
          }
          >.link_set {
            height: 4rem;
            >a {
              width: 25%;
            }
          }
        }
        >.sendmail_form {
          width: 100%;
          height: 65%;
          > form {
            > fieldset {
              padding: 0;
              justify-content: flex-start;
              row-gap: 1rem;
              input {
                &[type="text"]#from_name,
                &[type="email"]#e-mail {
                  height: 4rem;
                  padding: 1rem;
                  &::placeholder {
                    font-size: 1.5rem;
                  }
                } 
              }
              textarea#message {
                height: 50%;
                padding: 1rem;
                &::-webkit-scrollbar {
                  width: 5px;
                }
                &::placeholder {
                  font-size: 1.5rem;
                }
              }
              > .btns {
                height: 4rem;
                >input {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }   
      }
    }
  }
}