@charset "utf-8";

@import url('./Theme.scss');


* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	cursor: none;
  touch-action: manipulation;
}


:root {
  --bg: rgb(232, 247, 255);
  --bg-trans : rgba(255, 255, 255, 0.531);
  --link : rgb(3, 0, 82);
  --link-focus : rgb(255, 244, 39);
  --word : rgba(140, 238, 255, 0.9);
  // --info1 : rgb(40, 156, 238);
  // --info2: rgba(15, 85, 225, 0.722);
  // --info3 : rgba(41, 59, 255, 0.901);
  // --info4: rgb(40, 126, 225);
  // --info5 : rgb(40, 156, 238);
  --info6: rgba(15, 85, 225, 0.722);
  --info-trans :rgba(160, 203, 255, 0.742);
  --box: rgba(100, 160, 207, 0.941);
  --box-trans : rgba(160, 225, 255, 0.485);
  --box-focus: rgb(95, 179, 212);
  --popup : rgb(64, 176, 231);
  --textbox: rgba(143, 229, 255, 0.708);
  --textbox-focus : rgba(128, 185, 235, 0.641);
  --drawer : rgb(77, 193, 255);
  --border: 1px solid rgb(173, 240, 255);
  --border-focus: 3px solid rgb(90, 233, 255);
  --holder: rgb(54, 86, 246);
  --holder-focus : rgb(1, 35, 114);
  --button : rgb(62, 168, 255);
  --button-color: rgb(255, 190, 51);
  --button-active: rgba(62, 121, 214, 0.907);
  --button-round : rgba(230, 247, 255, 0.916);
  --button-round-act: rgb(65, 176, 255);
  --track : rgba(113, 235, 253, 0.713);
  --thumb : rgb(42, 159, 255);
  --shadow: rgba(0, 6, 42, 0.996) 0 0.06rem .3rem;
  --header: rgb(54, 164, 228);
  --footer: rgba(37, 143, 205, 0.593);

  --pc-lg: 70%;
  --pc: 75%;
  --tablet-port : 80%;
  --mobile-lg: 85%;
  --mobile-md: 90%;
  --mobile-small: 95%;
  --vh : 100%;
}

:root[data-theme="light"] {
  --bg: rgb(232, 247, 255);
  --bg-trans : rgba(255, 255, 255, 0.531);
  --link : rgb(3, 0, 82);
  --link-focus : rgb(255, 244, 39);
  --word : rgba(140, 238, 255, 0.9);
  // --info1 : rgb(40, 156, 238);
  // --info2: rgba(15, 85, 225, 0.722);
  // --info3 : rgba(41, 59, 255, 0.901);
  // --info4: rgb(40, 126, 225);
  // --info5 : rgb(40, 156, 238);
  --info6: rgba(15, 85, 225, 0.722);
  --info-trans :rgba(160, 203, 255, 0.742);
  --box: rgba(100, 160, 207, 0.941);
  --box-trans : rgba(160, 225, 255, 0.485);
  --box-focus: rgb(95, 179, 212);
  --popup : rgb(64, 176, 231);
  --textbox: rgba(143, 229, 255, 0.708);
  --textbox-focus : rgba(128, 185, 235, 0.641);
  --drawer : rgb(77, 193, 255);
  --border: 1px solid rgb(173, 240, 255);
  --border-focus: 3px solid rgb(90, 233, 255);
  --holder: rgb(54, 86, 246);
  --holder-focus : rgb(1, 35, 114);
  --button : rgb(62, 168, 255);
  --button-color: rgb(255, 190, 51);
  --button-active: rgba(62, 121, 214, 0.907);
  --button-round : rgba(230, 247, 255, 0.916);
  --button-round-act: rgb(65, 176, 255);
  --track : rgba(113, 235, 253, 0.713);
  --thumb : rgb(42, 159, 255);
  --shadow: rgba(0, 6, 42, 0.996) 0 0.06rem .3rem;
  --header: rgb(54, 164, 228);
  --footer: rgba(37, 143, 205, 0.593);
}

:root[data-theme="dark"] {
  --bg: rgb(0, 22, 48);
  --bg-trans : rgba(255, 255, 255, 0.338);
  --link : rgb(241, 241, 241);
  --link-focus : rgb(255, 240, 103);
  --word : rgba(80, 0, 160, 0.9);
  --info1 : rgb(71, 25, 127);
  --info2: rgb(93, 0, 255);
  --info3 : rgb(117, 33, 226);
  --info4: rgb(67, 49, 155);
  --info5 : rgb(84, 26, 115);
  --info6: rgba(95, 31, 205, 0.722);
  --info-trans :rgb(141, 93, 169);
  --box: rgba(40, 0, 99, 0.67);
  --box-trans : rgba(24, 13, 43, 0.307);
  --box-focus: rgb(38, 8, 96);
  --popup : rgb(42, 0, 115);
  --textbox: rgba(67, 17, 132, 0.708);
  --textbox-focus : rgb(39, 0, 65);
  --drawer : rgba(57, 0, 103, 0.864);
  --border: 1px solid rgb(146, 82, 255);
  --border-focus: 3px solid rgb(174, 68, 255);
  --holder: rgb(173, 173, 173);
  --holder-focus : rgb(225, 184, 255);
  --button : rgb(58, 20, 130);
  --button-color: rgb(255, 234, 44);
  --button-active: rgba(104, 0, 145, 0.756);
  --button-round : rgb(255, 255, 255);
  --button-round-act: rgba(33, 1, 114, 0.604);
  --track : rgba(0, 5, 51, 0.561);
  --thumb : rgb(115, 29, 173);
  --shadow: rgb(225, 156, 255) 0 0.0615rem 0.3125rem;
  --header: rgb(33, 0, 91);
  --footer: rgba(31, 12, 70, 0.531);
}

html {
  background-color: var(--bg);
  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;
  font-size: 62.5%;
  &[i18next = "ko"],
  &[i18next = "ja"] {
    body {
      text-align: justify;
      word-break: break-all;
    }
  }

  &[i18next= "en"] {
    body {
      text-align: left;
      word-break: keep-all;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}


body {
  width: 100%;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  max-width: 100% !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  // image faster load
  &::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden !important;
    z-index: -1;
    content: url(../assets/images/Gradient1.png) 
    url(../assets/images/galaxy-8k-j6-1920x1080.jpg) 
    url(../assets/images/Gradient2.png) 
    url(../assets/images/Night-Background-long.png)
    url(../assets/images/clouds-2085112.png)
    url(../assets/images/taylor-van-riper-yQorCngxzwI-unsplash.png)
  }
}


div#root {
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  cursor: none;
  pointer-events: auto;
  font-family: 'Red Hat Display', 'M PLUS 2', 'NanumSquareRound', sans-serif;

  transition: all 0.3s;
}

a,
button,
input,
textarea {
  text-decoration: none; 
  cursor: none;
  pointer-events: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

button,
input,
textarea#message {
  font-family: 'Red Hat Display', 'M PLUS 2', 'NanumSquareRound', sans-serif;
}


button {
  background-color: transparent;
}

button {
  outline: none;
  appearance: none;
  border: none;
}

input {
  outline: none;
  appearance: none;
}

.blind {
  display: none;
}