

h1.App {

  .ani0 {
    > span {
      background: -o-radial-gradient(rgba(251, 255, 0, 0.5), rgba(255, 145, 0, 0.3), rgba(255, 0, 55, 0.2), rgba(255, 119, 119, 0.8));
      background: -moz-radial-gradient(rgba(251, 255, 0, 0.5), rgba(255, 145, 0, 0.3), rgba(255, 0, 55, 0.2), rgba(255, 119, 119, 0.8));
      background: -webkit-radial-gradient(rgba(251, 255, 0, 0.5), rgba(255, 145, 0, 0.3), rgba(255, 0, 55, 0.2), rgba(255, 119, 119, 0.8));
      background: radial-gradient(rgba(251, 255, 0, 0.5), rgba(255, 145, 0, 0.3), rgba(255, 0, 55, 0.2), rgba(255, 119, 119, 0.8));
    }
  }

  .ani1 {
    border-color: rgb(255, 122, 255);
  }

  .ani2 {
    border-color: rgb(255, 255, 134);
  }

  .ani3 {
    border-color: rgb(255, 73, 73);
  }

  .ani4 {
    border-color: rgb(255, 187, 0);
  }
}
  @media screen and (min-width: 951px) {
    @media screen and (orientation: landscape) {
      h1.App {
        background-image: url(../assets/images/clouds-2085112.png);
      }
    }
    @media screen and (orientation: portrait) {
      h1.App {
        background-image: url(../assets/images/taylor-van-riper-yQorCngxzwI-unsplash.png);
      }
    }
  }

  @media screen and (max-width: 950px) {
    @media screen and (orientation: landscape) {
      h1.App {
        background-image: url(../assets/images/clouds-2085112.png);
      }
    }
    @media screen and (orientation: portrait) {
      h1.App {
        background-image: url(../assets/images/taylor-van-riper-yQorCngxzwI-unsplash.png);
      }
    }
  }



/* button toggle */
[data-theme='light'] {

  h1.App {
    .ani0 {
      > span {
        background: -o-radial-gradient(rgba(251, 255, 0, 0.5), rgba(255, 145, 0, 0.3), rgba(255, 0, 55, 0.2), rgba(255, 119, 119, 0.8));
        background: -moz-radial-gradient(rgba(251, 255, 0, 0.5), rgba(255, 145, 0, 0.3), rgba(255, 0, 55, 0.2), rgba(255, 119, 119, 0.8));
        background: -webkit-radial-gradient(rgba(251, 255, 0, 0.5), rgba(255, 145, 0, 0.3), rgba(255, 0, 55, 0.2), rgba(255, 119, 119, 0.8));
        background: radial-gradient(rgba(251, 255, 0, 0.5), rgba(255, 145, 0, 0.3), rgba(255, 0, 55, 0.2), rgba(255, 119, 119, 0.8));
      }
    }
  
    .ani1 {
      border-color: rgb(255, 122, 255);
    }
  
    .ani2 {
      border-color: rgb(255, 255, 134);
    }
  
    .ani3 {
      border-color: rgb(255, 73, 73);
    }
  
    .ani4 {
      border-color: rgb(255, 187, 0);
    }
  }

  @media screen and (min-width: 951px) {
    @media screen and (orientation: landscape) {
      h1.App {
        background-image: url(../assets/images/clouds-2085112.png);
      }
    }
    @media screen and (orientation: portrait) {
      h1.App {
        background-image: url(../assets/images/taylor-van-riper-yQorCngxzwI-unsplash.png);
      }
    }
  }

  @media screen and (max-width: 950px) {
    @media screen and (orientation: landscape) {
      h1.App {
        background-image: url(../assets/images/clouds-2085112.png);
      }
    }
    @media screen and (orientation: portrait) {
      h1.App {
        background-image: url(../assets/images/taylor-van-riper-yQorCngxzwI-unsplash.png);
      }
    }
  }
}

[data-theme='dark'] {

  h1.App {
    .ani0 {
      > span {
        background: -o-radial-gradient(rgba(255, 255, 255, 0.5), rgba(4, 121, 0, 0.3), rgba(0, 34, 255, 0.2), rgba(119, 138, 255, 0.8));
        background: -moz-radial-gradient(rgba(255, 255, 255, 0.5), rgba(4, 121, 0, 0.3), rgba(0, 34, 255, 0.2), rgba(119, 138, 255, 0.8));
        background: -webkit-radial-gradient(rgba(255, 255, 255, 0.5), rgba(4, 121, 0, 0.3), rgba(0, 34, 255, 0.2), rgba(119, 138, 255, 0.8));
        background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(4, 121, 0, 0.3), rgba(0, 34, 255, 0.2), rgba(119, 138, 255, 0.8));
      }
    }
  
    .ani1 {
      border-color: rgb(255, 255, 255);
    }
  
    .ani2 {
      border-color: rgb(255, 255, 0);
    }
  
    .ani3 {
      border-color: rgb(0, 132, 255);
    }
  
    .ani4 {
      border-color: rgb(0, 255, 0);
    }
  }

  
  @media screen and (min-width: 951px) {
    @media screen and (orientation: landscape) {
      h1.App {
        background-image: url(../assets/images/galaxy-8k-j6-1920x1080.jpg);
      }
    }
    @media screen and (orientation: portrait) {
      h1.App {
        background-image: url(../assets/images/Night-Background-long.png);
      }
    }
  }

  @media screen and (max-width: 950px) {
    @media screen and (orientation: landscape) {
      h1.App {
        background-image: url(../assets/images/galaxy-8k-j6-1920x1080.jpg);
      }
    }
    @media screen and (orientation: portrait) {
      h1.App {
        background-image: url(../assets/images/Night-Background-long.png);
      }
    }
  }
}


/* color-scheme ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

// @media screen and (prefers-color-scheme: dark) {
//   h1.App {
//     .ani0 {
//       > span {
//         background: -o-radial-gradient(rgba(255, 255, 255, 0.5), rgba(4, 121, 0, 0.3), rgba(0, 34, 255, 0.2), rgba(119, 138, 255, 0.8));
//         background: -moz-radial-gradient(rgba(255, 255, 255, 0.5), rgba(4, 121, 0, 0.3), rgba(0, 34, 255, 0.2), rgba(119, 138, 255, 0.8));
//         background: -webkit-radial-gradient(rgba(255, 255, 255, 0.5), rgba(4, 121, 0, 0.3), rgba(0, 34, 255, 0.2), rgba(119, 138, 255, 0.8));
//         background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(4, 121, 0, 0.3), rgba(0, 34, 255, 0.2), rgba(119, 138, 255, 0.8));
//       }
//     }
  
//     .ani1 {
//       border-color: rgb(255, 255, 255);
//     }
  
//     .ani2 {
//       border-color: rgb(255, 255, 0);
//     }
  
//     .ani3 {
//       border-color: rgb(0, 132, 255);
//     }
  
//     .ani4 {
//       border-color: rgb(0, 255, 0);
//     }
//   }

  
//   @media screen and (min-width: 951px) {
//     @media screen and (orientation: landscape) {
//       h1.App {
//         background-image: url(../assets/images/galaxy-8k-j6-1920x1080.jpg);
//       }
//     }
//     @media screen and (orientation: portrait) {
//       h1.App {
//         background-image: url(../assets/images/night-2558910.jpg);
//       }
//     }
//   }

//   @media screen and (max-width: 950px) {
//     @media screen and (orientation: landscape) {
//       h1.App {
//         background-image: url(../assets/images/galaxy-8k-j6-1920x1080.jpg);
//       }
//     }
//     @media screen and (orientation: portrait) {
//       h1.App {
//         background-image: url(../assets/images/night-2558910.jpg);
//       }
//     }
//   }
// }