
/* font */
/* all common */
@import url('./splash_mode.scss');

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* except color value */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

/* layout */
h1.App {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

.loading_container {
  display: flex;
  z-index: 10;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.loading_ani {
  position: absolute;
  display: -moz-grid;
  display: grid;
  margin-top: 25vh;
}


/* 3D Ball rotation setting */

.ani0 {
  position: relative;
  display: grid;
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  width: 12vh;
  height: 12vh;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 10;

  > span {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 50%;

    &.ball {
      &:nth-child(1) {
        -o-transform: rotate3d(0, 10, 1, 0deg);
        -ms-transform: rotate3d(0, 10, 1, 0deg);
        -webkit-transform: rotate3d(0, 10, 1, 0deg);
        -moz-transform: rotate3d(0, 10, 1, 0deg);
        transform: rotate3d(0, 10, 1, 0deg);
      }

      &:nth-child(2) {
        -o-transform: rotate3d(0, 10, 2, 30deg);
        -ms-transform: rotate3d(0, 10, 2, 30deg);
        -webkit-transform: rotate3d(0, 10, 2, 30deg);
        -moz-transform: rotate3d(0, 10, 2, 30deg);
        transform: rotate3d(0, 10, 2, 30deg);
      }

      &:nth-child(3) {
        -o-transform: rotate3d(0, 10, 3, 60deg);
        -ms-transform: rotate3d(0, 10, 3, 60deg);
        -webkit-transform: rotate3d(0, 10, 3, 60deg);
        -moz-transform: rotate3d(0, 10, 3, 60deg);
        transform: rotate3d(0, 10, 3, 60deg);
      }

      &:nth-child(4) {
        -o-transform: rotate3d(0, 10, 4, 90deg);
        -ms-transform: rotate3d(0, 10, 4, 90deg);
        -webkit-transform: rotate3d(0, 10, 4, 90deg);
        -moz-transform: rotate3d(0, 10, 4, 90deg);
        transform: rotate3d(0, 10, 4, 90deg);
      }

      &:nth-child(5) {
        -o-transform: rotate3d(0, 10, 5, 120deg);
        -ms-transform: rotate3d(0, 10, 5, 120deg);
        -webkit-transform: rotate3d(0, 10, 5, 120deg);
        -moz-transform: rotate3d(0, 10, 5, 120deg);
        transform: rotate3d(0, 10, 5, 120deg);
      }

      &:nth-child(6) {
        -o-transform: rotate3d(0, 10, 0, 150deg);
        -ms-transform: rotate3d(0, 10, 0, 150deg);
        -webkit-transform: rotate3d(0, 10, 0, 150deg);
        -moz-transform: rotate3d(0, 10, 0, 150deg);
        transform: rotate3d(0, 10, 0, 150deg);
      }

      &:nth-child(7) {
        -o-transform: rotate3d(0, 10, 6, 180deg);
        -ms-transform: rotate3d(0, 10, 6, 180deg);
        -webkit-transform: rotate3d(0, 10, 6, 180deg);
        -moz-transform: rotate3d(0, 10, 6, 180deg);
        transform: rotate3d(0, 10, 6, 180deg);
      }

      &:nth-child(8) {
        -o-transform: rotate3d(0, 10, 7, 210deg);
        -ms-transform: rotate3d(0, 10, 7, 210deg);
        -webkit-transform: rotate3d(0, 10, 7, 210deg);
        -moz-transform: rotate3d(0, 10, 7, 210deg);
        transform: rotate3d(0, 10, 7, 210deg);
      }

      &:nth-child(9) {
        -o-transform: rotate3d(0, 10, 8, 240deg);
        -ms-transform: rotate3d(0, 10, 8, 240deg);
        -webkit-transform: rotate3d(0, 10, 8, 240deg);
        -moz-transform: rotate3d(0, 10, 8, 240deg);
        transform: rotate3d(0, 10, 8, 240deg);
      }

      &:nth-child(10) {
        -o-transform: rotate3d(0, 10, 9, 270deg);
        -ms-transform: rotate3d(0, 10, 9, 270deg);
        -webkit-transform: rotate3d(0, 10, 9, 270deg);
        -moz-transform: rotate3d(0, 10, 9, 270deg);
        transform: rotate3d(0, 10, 9, 270deg);
      }

      &:nth-child(11) {
        -o-transform: rotate3d(0, 10, 10, 300deg);
        -ms-transform: rotate3d(0, 10, 10, 300deg);
        -webkit-transform: rotate3d(0, 10, 10, 300deg);
        -moz-transform: rotate3d(0, 10, 10, 300deg);
        transform: rotate3d(5, 5, 10, 300deg);
      }

      &:nth-child(12) {
        -o-transform: rotate3d(10, 10, 0, 330deg);
        -ms-transform: rotate3d(10, 10, 0, 330deg);
        -webkit-transform: rotate3d(10, 10, 0, 330deg);
        -moz-transform: rotate3d(10, 10, 0, 330deg);
        transform: rotate3d(10, 10, 0, 330deg);
      }

      &:nth-child(13) {
        -o-transform: rotate3d(10, 10, 1, 360deg);
        -ms-transform: rotate3d(10, 10, 1, 360deg);
        -webkit-transform: rotate3d(10, 10, 1, 360deg);
        -moz-transform: rotate3d(10, 10, 1, 360deg);
        transform: rotate3d(10, 10, 1, 360deg);
      }

      &:nth-child(14) {
        -o-transform: rotate3d(10, 10, 2, 15deg);
        -ms-transform: rotate3d(10, 10, 2, 15deg);
        -webkit-transform: rotate3d(10, 10, 2, 15deg);
        -moz-transform: rotate3d(10, 10, 2, 15deg);
        transform: rotate3d(10, 10, 2, 15deg);
      }

      &:nth-child(15) {
        -o-transform: rotate3d(10, 10, 3, 45deg);
        -ms-transform: rotate3d(10, 10, 3, 45deg);
        -webkit-transform: rotate3d(10, 10, 3, 45deg);
        -moz-transform: rotate3d(10, 10, 3, 45deg);
        transform: rotate3d(10, 10, 3, 45deg);
      }

      &:nth-child(16) {
        -o-transform: rotate3d(10, 10, 4, 75deg);
        -ms-transform: rotate3d(10, 10, 4, 75deg);
        -webkit-transform: rotate3d(10, 10, 4, 75deg);
        -moz-transform: rotate3d(10, 10, 4, 75deg);
        transform: rotate3d(10, 10, 4, 75deg);
      }

      &:nth-child(17) {
        -o-transform: rotate3d(10, 10, 5, 105deg);
        -ms-transform: rotate3d(10, 10, 5, 105deg);
        -webkit-transform: rotate3d(10, 10, 5, 105deg);
        -moz-transform: rotate3d(10, 10, 5, 105deg);
        transform: rotate3d(10, 10, 5, 105deg);
      }

      &:nth-child(18) {
        -o-transform: rotate3d(10, 10, 6, 135deg);
        -ms-transform: rotate3d(10, 10, 6, 135deg);
        -webkit-transform: rotate3d(10, 10, 6, 135deg);
        -moz-transform: rotate3d(10, 10, 6, 135deg);
        transform: rotate3d(10, 10, 6, 135deg);
      }

      &:nth-child(19) {
        -o-transform: rotate3d(10, 10, 7, 165deg);
        -ms-transform: rotate3d(10, 10, 7, 165deg);
        -webkit-transform: rotate3d(10, 10, 7, 165deg);
        -moz-transform: rotate3d(10, 10, 7, 165deg);
        transform: rotate3d(10, 10, 7, 165deg);
      }

      &:nth-child(20) {
        -o-transform: rotate3d(10, 10, 8, 195deg);
        -ms-transform: rotate3d(10, 10, 8, 195deg);
        -webkit-transform: rotate3d(10, 10, 8, 195deg);
        -moz-transform: rotate3d(10, 10, 8, 195deg);
        transform: rotate3d(10, 10, 8, 195deg);
      }

      &:nth-child(21) {
        -o-transform: rotate3d(10, 10, 9, 225deg);
        -ms-transform: rotate3d(10, 10, 9, 225deg);
        -webkit-transform: rotate3d(10, 10, 9, 225deg);
        -moz-transform: rotate3d(10, 10, 9, 225deg);
        transform: rotate3d(10, 10, 9, 225deg);
      }

      &:nth-child(22) {
        -o-transform: rotate3d(10, 10, 10, 255deg);
        -ms-transform: rotate3d(10, 10, 10, 255deg);
        -webkit-transform: rotate3d(10, 10, 10, 255deg);
        -moz-transform: rotate3d(10, 10, 10, 255deg);
        transform: rotate3d(10, 10, 10, 255deg);
      }

      &:nth-child(23) {
        -o-transform: rotate3d(5, 10, 0, 285deg);
        -ms-transform: rotate3d(5, 10, 0, 285deg);
        -webkit-transform: rotate3d(5, 10, 0, 285deg);
        -moz-transform: rotate3d(5, 10, 0, 285deg);
        transform: rotate3d(5, 10, 0, 285deg);
      }

      &:nth-child(24) {
        -o-transform: rotate3d(0, 10, 5, 315deg);
        -ms-transform: rotate3d(0, 10, 5, 315deg);
        -webkit-transform: rotate3d(0, 10, 5, 315deg);
        -moz-transform: rotate3d(0, 10, 5, 315deg);
        transform: rotate3d(0, 10, 5, 315deg);
      }

      &:nth-child(25) {
        -o-transform: rotate3d(5, 10, 5, 345deg);
        -ms-transform: rotate3d(5, 10, 5, 345deg);
        -webkit-transform: rotate3d(5, 10, 5, 345deg);
        -moz-transform: rotate3d(5, 10, 5, 345deg);
        transform: rotate3d(5, 10, 5, 345deg);
      }
    }
  }
}

/* Making Ball */

/* border spin setting */

.loading_ani {
  > span {
    display: flex;
    align-self: center;
    justify-self: center;
    grid-row: 1;
    grid-column: 1;
    &.ani1 {
      border-width: 2px;
      border-style: solid dashed;
      width: 25vh;
      height: 25vh;
      border-radius: 50%;
      z-index: 1;
    }
    
    &.ani2 {
      border-width: 3px;
      border-style: dotted;
      width: 20vh;
      height: 20vh;
      border-radius: 50%;
      z-index: 2;
    }
    
    &.ani3 {
      border-width: 3px;
      border-style: dashed;
      width: 23vh;
      height: 23vh;
      border-radius: 50%;
      z-index: 3;
    }
    
    &.ani4 {
      border-width: 4px;
      border-style: double dashed;
      width: 30vh;
      height: 30vh;
      border-radius: 50%;
      z-index: 4;
    }
  }
}




/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/



/* animation effect */

div.ani0 {
  animation: rotating 0.5s linear 0.2s infinite;
}

@keyframes rotating {
  to {
    -o-transform: rotate3d(5, 10, 5, 360deg);
    -moz-transform: rotate3d(5, 10, 5, 360deg);
    -webkit-transform: rotate3d(5, 10, 5, 360deg);
    transform: rotate3d(5, 10, 5, 360deg);
  }
}

.ani1 {
  -o-animation: spin3d 1s linear 0.2ms infinite;
  -moz-animation: spin3d 1s linear 0.2ms infinite;
  -webkit-animation: spin3d 1s linear 0.2ms infinite;
  animation: spin3d 1s linear 0.2ms infinite;
}

.ani2 {
  -o-animation: spin3d 0.5s linear 0.2ms infinite;
  -moz-animation: spin3d 0.5s linear 0.2ms infinite;
  -webkit-animation: spin3d 0.5s linear 0.2ms infinite;
  animation: spin3d 0.5s linear 0.2ms infinite;
}

.ani3 {
  -o-animation: spin3d 1.5s linear 0.2ms infinite;
  -moz-animation: spin3d 1.5s linear 0.2ms infinite;
  -webkit-animation: spin3d 1.5s linear 0.2ms infinite;
  animation: spin3d 1.5s linear 0.2ms infinite;
}

.ani4 {
  -o-animation: spin3d 2s linear 0.2ms infinite;
  -moz-animation: spin3d 2s linear 0.2ms infinite;
  -webkit-animation: spin3d 2s linear 0.2ms infinite;
  animation: spin3d 2s linear 0.2ms infinite;
}

@keyframes spin3d {
  from {
    -o-transform: rotate3d(0.5, 0.5, 0.5, 360deg);
    -moz-transform: rotate3d(0.5, 0.5, 0.5, 360deg);
    -webkit-transform: rotate3d(0.5, 0.5, 0.5, 360deg);
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
}

@keyframes appearing1 {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearing2 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}